div{
  &.footer-mobile-menu{
    background-color: white;
    padding: 10px;
    position: relative;
  }
  footer .section >&{
    @include nav-footer;
    &:first-child{
      @include nav-footer-common;
    }
  }
  header .section.footer-mobile-menu &{
    @include nav-footer;
    &:nth-child(1) {
      @include nav-footer-common;
    }
    &:nth-child(2){
      display: table;
      margin: auto;
    }
    &:nth-child(3){

    }
  }
  footer &.section{
    margin: auto;
    width: 698px;
  }
}
section {
  .footer-mobile-menu >&{
    margin: auto;
    max-width: 698px;
  }
}
#logo-bottom,
#logo-bottom-mobile-menu{
  @include logo-bottom;
}
#phone-number_bottom,
#phone-number_bottom-mobile-menu{
  @include phone-number;
  @include phone-number-bottom;
}
