// desktop, широкоформатный монитор
@media (max-height: $resolution-tablet) and (min-width: $resolution-small-desktop){
  body{
    $common-background:url($images_dir + 'backgrounds/tile-90.png') #a04323;
    &.no-overflow{
      $img-height:94px;
      footer{
        display: none;
      }
      #index{
        main{
          bottom: 0;
        }
      }
      #level1{
        height: inherit;
        #gallery{
          display: none;
        }
        .slider-bottom{
          height: inherit;
        }
        .slides{
          height: inherit;
          display: table;
          margin: 15px auto;
          overflow: hidden;
          padding: inherit;
          width: 947px;
          a{
            &.hidden{
              background: $common-background;
              color: #ffffff;
              display: inherit;
              font-family: PlumbLight;
              font-size: 28px;
              height: $img-height;
              float: left;
              line-height: $img-height;
              text-align: center;
              text-decoration: none;
              text-transform: uppercase;
              width: 268px;
            }
          }
          aside{
            display: none;
          }
          img{
            height: $img-height;
            margin-left: 6px;
            width: 107px;
          }
        }
      }
      #showcase{
        bottom: 93px;
        height: 93px;
        >div{
          background-color: transparent;
          @include box-shadow(0 0 0px 100px rgba(0,0,0,0.6) inset);
          @include opacity(0.85);
        }
        li{
          font-family: PlumbLight;
          font-size: 11px;
          min-height: 23px;
        }
      }
      #slider{
        bottom: 128px;
      }
      #you-need{
        position: relative;
        width: 100%;
        .header-slim-big{
          display: none;
        }
        li{
          background: url($images_dir + "need-768.png") no-repeat;
          height: 100%;
          &:nth-child(1){
            background-position: 0 10px;
          }
          &:nth-child(2){
            background-position: -373px 10px;
          }
          &:nth-child(3){
            background-position: -787px 10px;
          }
          &:nth-child(4){
            background-position: -1215px 10px;
          }
        }
        ul{
          height: 78px;
          margin: auto;
          position: relative;
          z-index: 2;
          a{
            color: #ffffff;
            top:23px;
          }
        }
        .substrate{
          background:$common-background;
          display: block;
          height: 100%;
          @include opacity(0.85);
          position: absolute;
          top:0;
          width: 100%;
          z-index: 0;
        }
      }
      .pointers-aside {
        aside {
          bottom: 34.5vh;
        }
      }
    }
  }
}