// resolution <=>620px

@media (min-width:$resolution-tablet-small+1){
  #menus-subheader-mobile{
    top:0;
  }
  #top-menu{
    @include transform(translateX(4vw));
  }
}
@media (max-width:$resolution-tablet-small - 1){
  header{
    >section{ // .menu.wide
      bottom:0;
      overflow: auto;
      padding-top: 0;
      position: fixed;
      top: 68px;//134px;
    }
    >nav{
      >div{
        &:nth-child(2){
          width: 100%;
        }
      }
    }
  }
  #logo{
    left: 50%;
    margin-left: -16px;
    position: absolute;
    transform: translateX(-50%);
  }
  #sandwich-menu{
    border-radius: $menu-spot-border-radius;
    @include centered-vertical;
    display: block !important;
    height: $menu-spot-height;
    left: 0;
    overflow: hidden;
    padding: 5px 7px;
    position: absolute;
    hr{
      border: solid 2px white;
      @include border-radius(4px);
      margin: 3.99px auto;
    }
  }
  #top-menu{
    //background-color: $background-carrot-dark;
    //border-bottom: solid 6px $background-carrot-dark;
    background-color: white;
    @include box-shadow(0 4px 6px rgba(0,0,0,0.5));
    //display: inline-block;
    //border-bottom: none;
    display: none;
    position: absolute;
    top: 68px;
    width: 100%;
    z-index: 2;
    li{
      border-top: $border-btn;
      display: block;
      float: left;
      //height: $h;
      width: 100%;
      a{
        $h:68px;
        //color: white;
        display: block;
        font-size: 21px;
        height: $h;
        line-height: $h;
        padding: 0 24px;
        text-align: center;
      }
    }
  }
}

@media (max-width: $resolution-phone){

}