@media (max-width: $resolution-phone){
  header {
    >nav{
      >div{
        &:nth-child(2){
          width: 100%;
        }
      }
    }
    >section{
      top: 147px;
    }
  }
  #top-menu{
    background-color: #ffffff;
    left: -12px;
    top: 68px;
    padding: 10px 15px;
    position: absolute;
    width: 100%;
    z-index: 2;
    li{
      $h:44px;
      display: block;
      float: left;
      height: $h;
      width: 50%;
      a{
        line-height: $h;
      }
    }
  }
}