/*  div#after-stone
      div
        div.gallery-small
          span
*/
#after-stone {
  padding: 0;
  >div{
    $i:1;
    @each $top in 65.5%,75.08%,85.04%{ // 232x6200 // 0,-5850,-1173,-1841,-2575,-3277,
      &:nth-child(#{$i}) >.gallery-small >span { // .gallery-small
        background-position: 1vw #{$top}  !important;
      }
      $i:$i+1;
    }
    @media (max-width:$resolution-tablet-medium680) {
      padding: 20px 15px 0;
    }
      /* обработать масштаб родительского блока,
      чтобы не делать это для самого ротатора, рассчитать
      динамические параметры которого при горизонтальном
      центрировании невозможно */
      aside {
        > div:nth-child(2) {
        margin: auto;
        @media (max-width:$resolution-tablet-medium680){
          @include transform(scale(0.75));
        }
      }
    }
    .gallery-small{
      @media (max-width: $resolution-small-desktop - 1){
        // см. @media (max-width:861px) ниже
        padding-left: 31.5vw;
      }
      @media (max-width:$resolution-go-mobile860 + 1){
        padding-left: 25.5vw;
      }
      @media (max-width:$resolution-small-desktop){
        padding-left: 30vw;
      }
      @media (max-width:$resolution-tablet-medium680){
          padding-left: 0;
          text-align: center;
      }
      >span:first-child{
        background: url($images_dir + "facade/vertical1.jpg") no-repeat;
        background-size: 91% 2470%;
        $img-size-static:256px;
        height: $img-size-static;
        position: absolute;
        right: 50%;
        @include transform(translateX(-217px)); //-204px
        top: 45px;//52px;
        width: $img-size-static;
        @media (max-width:$resolution-desktop){
          $img-size-rel: 20vw;//18.2vw; - без припуска
          height: $img-size-rel;
          //left: 30vw;
          //right: inherit;
          width: $img-size-rel;
        }
        @media (max-width:768px - 1){
          margin-left: 15px;
          @include transform(translateX(-175px));
        }
        @media (max-width:$resolution-tablet-medium680){
          $imgSize:126px;
          display: block;
          height: $imgSize;
          left: 50%;
          margin-bottom: 10px;
          margin-left: 0;
          position: relative;
          top: 0;
          @include transform(translateX(-50%));
          width: $imgSize;
        }
      }
      @media (max-width:$resolution-tablet-medium680) {
        h4 {
          margin: auto;
          padding-left: 25px;
          padding-right: 25px;
        }
        p {
          padding-right: 0;
        }
      }
    }
  }
}

#level1 .slider-bottom .slides {
  // от 541 до 966
  @media (min-width: $resolution-tablet-small620 + 1) and (max-width: $resolution-go-mobile966) {
    //background-color: orange;
    width: 66vw;
    a img {
      height: 17.76vw;
      width: 20vw;
    }
  }
  // от 541 до 620
  @media (min-width: $resolution-phone540 + 1) and (max-width: $resolution-tablet-small620) {
    width: 84vw;
    //background-color: brown;
    a img {
      height: 22.94vw;
      width: 26vw;
    }
  }
  // от 425 до 540
  @media (min-width: $resolution-phone424 + 1) and (max-width: $resolution-phone540) {
    width: 99.5vw;
    a img {
      height: 26.9vw;
      width: 30.5vw;
    }
  }
  // от самого маленького до 424
  @media (max-width: $resolution-phone424){
    width: 98.75vw;
    a img {
      height: 40.85vw;
      width: 45.5vw;
    }
  }
  @media (max-width:248px){
    width: 100vw;
  }
}
.gallery-small{
  overflow: hidden !important;
}
.sigplus-gallery{
  @mixin trnsf($x:-306px,$y:0,$s:0.61){
    @include transform(translateX($x) translateY($y) scale($s));
  }
  #facade.container #facade-beauty .gallery-small &{
    // отступ и масштаб по умолчанию
    @include trnsf(-114px);
    @media /*(min-width:$resolution-go-mobile966 + 1) and*/ (max-width: $resolution-go-mobile966){//$resolution-small-desktop
      @include trnsf(-188px); //transform(scale(0.61));
    }
    @media (max-width:$resolution-go-mobile966) {
      @include transform(scale(0.75));
    }
  }
  #facade.container #after-stone .gallery-small &{
    float: left;
    @media (min-width:$resolution-tablet-medium680 + 1){
      @include trnsf(-19.5%);
    }
    @media (max-width:$resolution-tablet-medium680){
      @include transform(none);
      float: none;
    }
  }
  #facades .gallery-small &{
    @include trnsf(-134px);
  }
}

#facade-beauty{
  .header-slim-middle{
    @media (max-width:$resolution-go-mobile966) {
      text-align: center;
    }
  }
  aside{
    margin-bottom: 16px;
  }
  @media (max-width:$resolution-tablet-small620){
    .gallery-small{
      h4{
        font-size: 19.5px;
        line-height: 20.5px;
        //margin-top: 240px;

        margin-bottom: 15px;

        padding-left: $edge-mobile !important;
        padding-right: $edge-mobile !important;

        text-align: center;
        width:100% !important;

        //color:red;
        >span:first-child{
          background-image: url($images_dir + 'facade/facade-beauty.jpg');
          background-repeat: no-repeat;
          display: block;
        }
        &:nth-child(1){
          span{
            &:first-child{
              background-position: center 0px;
              //background-color: aquamarine;
              height: 125px;
            }
          }
        }
        &:nth-child(3){
          span{
            &:first-child{
              background-position: center -181px;
              //background-color: #b1c4db;
              height: 118px;
            }
          }
        }
        &:nth-child(5){
          span{
            &:first-child{
              background-position: center -349px;
              //background-color: #c4de95;
              height: 186px;
            }
          }
        }
        &:nth-child(7){
          span{
            &:first-child{
              background-position: center -550px;
              //background-color: #4d90fe;
              height: 216px;
            }
          }
        }
      }
    }
    .gallery-small{
      p{
        background-image: none;
        //background-position: center 140px !important;
        line-height: 17px;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        min-height: inherit !important;
        padding-bottom: 18px !important;
        padding-left: 25px !important;
        padding-top: 0 !important;
        padding-right: 25px !important;
        text-align: center;
      }
    }
  }

}

// Блоки с ротаторами картинок
/*  #facades:       7 блоков ─ скрываются, начиная с 966
    #work-examples: 1 блок ─ примеры работ кровли
    #facade-beauty: 1 блок (средний) ─ ПРИМЕРЫ РАБОТ: ОФОРМЛЕНИЕ ФАСАДА КАМНЕМ
    #after-stone:   3 блока, маленькие
*/
.slideplus {
  width: 100% !important;
  #facade.container #work-examples & {
    width: 100% !important;
  }
  #facade-beauty .sigplus-gallery.sigplus-center.sigplus-lightbox-boxplus & {
    @media (max-width: $resolution-go-mobile966) {
      @include centered-horizontal;
    }
    @media (max-width: $resolution-tablet768) {
      width: $boxBig5 !important;
    }
    @media (max-width: 640px) {
      width: $boxMiddle4 !important;
    }
    @media (max-width: $resolution-phone540) {
      width: $boxSmall3 !important;
    }
    @media (max-width: $resolution-phone360) {
      @include transform(translateX(-50%) scale(1));
      width: $boxMini !important;
    }
  }
  // маленькие блоки
  #after-stone .sigplus-gallery.sigplus-center.sigplus-lightbox-boxplus & {
    //@include transform(scale(0.85) translateX(-84px));
    @media (max-width: $resolution-go-mobile860) {
      width: $boxBig5 !important;
    }
    @media (max-width: $resolution-tablet768) {
      width: $boxMiddle4 !important;
    }
    @media (max-width: $resolution-tablet-medium680) {
      /* отменить все трансформации ротаотора, установив только
      ширину (т.е., количество картинок в блоке)*/
      @include transform(none);
      width: $boxSmall3 !important;
    }
    @media (max-width:460px) {
      width: $boxMini !important;
    }
    @media (max-width:$resolution-phone360) {
      width: $boxSingle !important;
    }
  }
}

.header-slim-big{
  @media (max-width:$resolution-phone540){
    font-size: 18px;
  }
  .do-it &{
    color: white;
    @media (max-width:$resolution-tablet-small620){
      max-width: 76vw;
    }
  }

  #facade .do-it &{
    @media (max-width:$resolution-tablet-small620){
      font-size: 18px;
    }
  }
}
.do-it {

  @media (max-width: $resolution-phone540) {
    .phone-number {
      font-size: 24px !important;
    }
    button{
      margin-top: 10px;
    }
  }
  #facade {
    @media (max-width:$resolution-tablet-small620){
      .phone-number {
        font-size: 24px !important;
      }
      button{
        margin-top: 10px;
      }
    }
  }
}



