/*  div#after-stone
      div
        div.gallery-small
          span
*/
#after-stone {
  padding: 0;
  >div >div >span{
    background: url($images_dir + "facade/vertical1.jpg") no-repeat;
    background-size: 91% 2470%;
    @media (max-width:768px - 1){
      margin-left: 15px;
      @include transform(translateX(-175px));
    }
  }
  $i:1;
  @each $top in 65.5%,75.08%,85.04%{ // 232x6200 // 0,-5850,-1173,-1841,-2575,-3277,
     >div:nth-child(#{$i}) >div >span { // .gallery-small
      background-position: 1vw #{$top}  !important;
    }
    $i:$i+1;
  }

  .gallery-small {
    >span{
      $img-size: 20vw;//18.2vw; - без припуска
      height: $img-size;
      position: absolute;
      //@media (max-width:$resolution-small-desktop){
        left: 30vw;
        @include transform(translateX(-217px)); //-204px
      //}
      top: 45px;//52px;
      width: $img-size;
      /*&:hover{
        opacity: 1;
      }*/
    }
    @media (max-width: $resolution-small-desktop - 1){
      // см. @media (max-width:861px) ниже
      padding-left: 31.5vw;
    }
    @media (max-width:861px){
      padding-left: 25.5vw;
    }
    // mini-slider box. Ширина (через шаг) определяет количество картинок
    .sigplus-gallery.sigplus-center.sigplus-lightbox-boxplus {
      @media (max-width: $resolution-small-desktop - 1){
        width: 788px; // 5
      }
      @media (max-width:$resolution-tablet780){
        width: 630px; // 4
      }
    }
  }
}

#level1 .slider-bottom .slides {
  // от 541 до 966
  @media (min-width: $resolution-tablet-small620 + 1) and (max-width: $resolution-go-mobile966) {
    //background-color: orange;
    width: 66vw;
    a img {
      height: 17.76vw;
      width: 20vw;
    }
  }
  // от 541 до 620
  @media (min-width: $resolution-phone540 + 1) and (max-width: $resolution-tablet-small620) {
    width: 84vw;
    //background-color: brown;
    a img {
      height: 22.94vw;
      width: 26vw;
    }
  }
  // от 425 до 540
  @media (min-width: $resolution-phone424 + 1) and (max-width: $resolution-phone540) {
    width: 99.5vw;
    a img {
      height: 26.9vw;
      width: 30.5vw;
    }
  }
  // от самого маленького до 424
  @media (max-width: $resolution-phone424){
    width: 98.75vw;
    a img {
      height: 40.85vw;
      width: 45.5vw;
    }
  }
  @media (max-width:248px){
    width: 100vw;
  }
}
.gallery-small{
  overflow: hidden !important;
}
.sigplus-gallery{
  @mixin trnsf($x:-306px,$y:0,$s:0.61){
    @include transform(translateX($x) translateY($y) scale($s));
  }
  #facade.container #facade-beauty .gallery-small &{
    // отступ и масштаб по умолчанию
    @include trnsf(-114px);
    @media /*(min-width:$resolution-go-mobile966 + 1) and*/ (max-width: $resolution-go-mobile966){//$resolution-small-desktop
      @include trnsf(-188px); //transform(scale(0.61));
    }
    @media (max-width:$resolution-go-mobile966) {
      @include transform(scale(0.75));
      /*>div.sigplus{
        @include centered-horizontal;
      }*/
    }
  }
  #facade.container #after-stone .gallery-small &{
    float: left;
    @include trnsf(-19.5%);//(-184px); // translateX
  }
  #facades .gallery-small &{
    @include trnsf(-134px);
  }
}

#facade-beauty{
  .header-slim-middle{
    @media (max-width:$resolution-go-mobile966) {
      text-align: center;
    }
  }
  aside{
    margin-bottom: 16px;
  }
}

// Блоки с ротаторами картинок
/*  #facades
      7 блоков ─ скрываются, начиная с 966
    #work-examples
      1 блок ─ примеры работ кровли
    #facade-beauty
      1 блок ─ ПРИМЕРЫ РАБОТ: ОФОРМЛЕНИЕ ФАСАДА КАМНЕМ
    #after-stone
      3 блока
*/
.slideplus{
  width: 100% !important;
  /*#facade.container &{
    width: inherit !important;
  }*/
  #facade.container #work-examples &{
    width: 100% !important;
  }
  @mixin sigplus-settings{
    //border: solid 1px red;
    @media (max-width:$resolution-tablet768){
      width: 788px !important;
    }
    @media (max-width:640px){
      width: 630px !important;
    }
    @media (max-width:$resolution-phone540){
      width: 630px !important;
    }
  }
  #facade-beauty .sigplus-gallery.sigplus-center.sigplus-lightbox-boxplus &{
    /*@media (min-width:$resolution-phone424){
      @include transform(translateX(-50%) scale(0.85));
    }*/
    @media (max-width:$resolution-go-mobile966) {
      @include centered-horizontal;
    }
    @media (max-width:$resolution-phone424){
      @include transform(translateX(-50%) scale(1));
      width: 318px !important;
    }
    @include sigplus-settings;
  }
  #after-stone .sigplus-gallery.sigplus-center.sigplus-lightbox-boxplus &{
    @include transform(scale(0.85) translateX(-84px));
    @include sigplus-settings;
  }
}