// НИЗКИЙ экран <=768
@media (max-height: $resolution-tablet768){
  body{
    $common-background:url($images_dir + 'backgrounds/tile-90.png') #a04323;
    &.no-overflow{
      .pointers-aside {
        @media (max-height: 600px) {
          width: 55vw;
        }
        aside {
          bottom: 34.5vh;
          @media (max-height: 600px) {
            bottom: 40vh;
            background-size: 33%;
            height: 70px !important;
            width: 70px !important;
          }
          @media (max-height: 480px) {
            bottom: 44vh;
            background-position: center !important;
            background-size: 33%;
            height: 10vh !important;
            width: 10vh !important;
          }
        }
      }
      // широкоформатный монитор >=1024
      @media (min-width: $resolution-small-desktop) {
        $img-height:94px;
        footer{
          display: none;
        }
        #index{
          main{
            bottom: 0;
          }
        }
        #level1{
          height: inherit;
          #gallery{
            display: none;
          }
          .slider-bottom{
            height: inherit;
          }
          .slides{
            height: inherit;
            display: table;
            margin: 15px auto;
            overflow: hidden;
            padding: inherit;
            width: 947px;
            a{
              &.hidden{
                background: $common-background;
                color: #ffffff;
                display: inherit;
                font-family: PlumbLight;
                font-size: 28px;
                height: $img-height;
                float: left;
                line-height: $img-height;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                width: 268px;
              }
            }
            aside{
              display: none;
            }
            img{
              height: $img-height;
              margin-left: 6px;
              width: 107px;
            }
          }
        }
        #showcase{
          bottom: 93px;
          height: 93px;
          >div{
            background-color: transparent;
            @include box-shadow(0 0 0px 100px rgba(0,0,0,0.6) inset);
            @include opacity(0.85);
          }
          li{
            font-family: PlumbLight;
            font-size: 11px;
            min-height: 23px;
          }
        }
        #slider{
          bottom: 128px;
        }
        #you-need{
          max-width: inherit;
          position: relative;
          width: 100%;
          .header-slim-big{
            display: none;
          }
          li{
            background: url($images_dir + "need-768.png") no-repeat;
            height: 100%;
            &:nth-child(1){
              background-position: 0 10px;
            }
            &:nth-child(2){
              background-position: -373px 10px;
            }
            &:nth-child(3){
              background-position: -787px 10px;
            }
            &:nth-child(4){
              background-position: -1215px 10px;
            }
          }
          ul{
            height: 78px;
            margin: auto;
            position: relative;
            z-index: 2;
            a{
              color: #ffffff;
              top:23px;
            }
          }
          .substrate{
            background:$common-background;
            display: block;
            height: 100%;
            @include opacity(0.85);
            position: absolute;
            top:0;
            width: 100%;
            z-index: 0;
          }
        }
      }
    }
  }
}
// любая ВЫСОТА экрана
// перестройка макета под мобильную версию
@media (max-width: $resolution-go-mobile966){
  header {
    aside div{
      background-color: #efefef;
      border-bottom: solid 1px white;
    }
    .menu.wide {
      > section {
        &:nth-child(2) {
          // услуги
          ul {
            &.you-need {
              display: block;
              max-width: 640px;
              margin-left: auto;
              margin-right: auto;
              overflow: hidden;
              @include transform(translateX(5vw));
              li {
                width: 50%;
                a {
                  max-width: 174px;
                }
              }
            }
          }
        }
      }
      .footer-mobile-menu{
        display: inherit;
        padding: 13px 24px 27px;
      }
      a.print {
        // кнопка "Распечатать адрес"
        float: none;
        margin-bottom: 14px;
        margin-top: inherit !important;
      }
    }
  }
  span{
    #header-menu-about &{
      text-decoration: none;
      border-bottom: dotted 1px;
    }
  }
}
// ширина для мобильных устройств <=768
@media (max-width: $resolution-small-desktop - 1){
  header{
    nav {
      > div { // внутренние псевдоменю
        &:nth-child(1) {
          // menu
          top: 0;
          height: $nav-height;
          width: 100%;
          ul {
            display: table;
            margin: auto;

          }
        }
        &:nth-child(2) {
          // logo
          height: $headerHeight;
          left: 16px;
          margin: 0;
          position: absolute;
          width: 100%;
        }
        &:nth-child(3) {
          // Консультация
          right: 16px;
          width: 42px;
        }
        #consulting {
          position: absolute;
          top: 33px;
          a {
            background-position: 12px;
            border-radius: $menu-spot-border-radius;
            font-size: 0;
            height: 100%;
            width: $menu-spot-width;
          }
        }
        #phone-number {
          display: none;
        }
      }
    }
    > section { // внутренние тексты для псевдоменю
      > section{
        margin-top: 83px;
        h4{
          display: none;
        }
        &:nth-child(4){
          margin-top: 23px;
          h4{
            display: inherit;
          }
        }
        > div{
          max-width: 100%;
        }
        &:nth-child(1) > div {
          padding-left: 0;
          width: inherit;
          > aside {
            margin-left: 0;
            width: 100%;
            >section{
              &:not(.visible){
                display: none;
              }
            }
          }
        }
      }
    }
  }
  // Заголовок активного меню; текст добавляется динамически
  #menus-subheader-mobile{ // header .menu >h2
    background-color: #ffffff;
    @include box-shadow(0px 7px 18px -8px rgba(0,0,0,0.2) inset);
    display: block;
    font-family: PlumbLight;
    font-size: 36px;
    $h:86px;
    height: $h;
    line-height: $h;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 100%;
  }
  #top-menu{
    @include transform(translateX(4vw));
    @media (max-width:$resolution-tablet-small - 1){
      display: none;
    }
  }
}
// resolution <=620px
@media (max-width:$resolution-tablet-small - 1){
  #sandwich-menu{
    border-radius: $menu-spot-border-radius;
    @include centered-vertical;
    display: block !important;
    height: $menu-spot-height;
    left: 0;
    overflow: hidden;
    padding: 5px 7px;
    position: absolute;
    hr{
      border: solid 2px white;
      @include border-radius(4px);
      margin: 3.99px auto;
    }
  }
  #logo{
    left: 50%;
    margin-left: -10px;
    position: absolute;
    transform: translateX(-50%);
  }
}