a{
  header menu li &{
    display: block;
    color: $color-dark-common;
    font-family: PlumbMedium;
    padding: 6px;
    vertical-align: middle;
  }
}
div{
  section.menu >&{
    position: absolute;
    display: none;
    top:$nav-height;
  }
}
section{
  &.menu{

  }
}