a{
  #decoration .slides >div.float-left &{
    display: block;
    font-size: 0;
  }
  #decoration .slides >div.float-left:first-child &{
    background-image: url($images_dir + 'decoration/exmpl-big.jpg');
    height: 100%;
    width: 476px;
  }
  #decoration .slides >div.float-left:last-child >&{
    background: url($images_dir + "decoration/exmpls-right.jpg");
    float: left;
    height: 134px;
    margin-bottom: 9px;
    margin-right: 8.5px;
    width: 153px;
    $top:0;
    &:nth-last-child(2){
      background-position: -161px $top;
    }
    &:nth-last-child(3){
      background-position: -323px $top;
    }
    $top:-143px;
    &:nth-last-child(4){
      background-position: -476px $top;
    }
    &:nth-last-child(5){
      background-position: -638px $top;
    }
    &:nth-last-child(6){
      background-position:-799px $top;
    }
    &:nth-child(3),
    &:nth-child(6){
      margin-right: 0;
    }
  }
}
aside{
  #decoration .content .contents div &{
    background-image: url($images_dir + 'backgrounds/tile-100.png');
    @include border-radius(50%);
    float: left;
    $s:120px;
    height: $s;
    margin-left: -157px;
    margin-top: -60px;
    width: $s;
  }
  $i:2;
  @each $top in 69,51,57,62,57,52,58 {
    #decoration .content .contents >div:nth-child(#{$i}) &{
      margin-top: #{-$top}px;
    }
    $i:$i+1;
  }
}
div{
  $i:1;
  @each $top in 3903,4475,5064{ // 0,-5850,-1173,-1841,-2575,-3277,
    #after-stone >div:nth-child(#{$i}) >&{
      background-position: 28px #{-$top}px !important;
    }
    $i:$i+1;
  }
  #decoration .top &{//.relative
    background-image: url($images_dir + 'decoration/decoration-top.png');
    background-repeat: no-repeat;
    background-position: 85px 232px;
  }
  #decoration .content .contents >&{
    height: 222px;
    &:nth-child(1){
      height: 193px;
    }
    &:nth-child(even){
      background-image: url($images_dir + 'backgrounds/tile-contents-grey-light.png');
    }
    &:nth-child(odd):not(1){
      background-image: url($images_dir + 'backgrounds/tile-contents-dark.png');
    }
  }
  #decoration .content .contents >div >&{
    font: 17px/20px $font-second;
    margin: auto;
    padding-left: 160px;
    padding-top: 60px;
    width: $max-width-container;

  }
  $i:2;
  @each $top in 80,102,88,92,87,102,88{
    #decoration .content .contents >div:nth-child(#{$i}) >&{
      padding-top: #{$top}px;
    }
    $i:$i+1;
  }
  #decoration &.slider-bottom{
    height: 345px;
  }
  #decoration &.slides{
    height: 285px;
    margin: auto;
    padding: 0;
  }
  #decoration .slides &.float-left{
    background-repeat: no-repeat;
    $dHeight: 280px;
    height: $dHeight;
    width: 50%;
    &:nth-child(1){
      //background-image: url($images_dir + 'decoration/exmpl-big.jpg');
      background-size: 476px $dHeight;
    }
    &:nth-child(2){
      //background-image: url($images_dir + 'decoration/exmpls-right.jpg');
      // переопределить стили для .slider-bottom div и #decoration .slides div.float-left
      height: auto;
      margin-left: 4px;
      margin-right: -4px;
      padding:0;
    }
  }
}
h1{
  #decoration .top &{
    display: table;
    margin: auto;
    text-align: center;
    &:first-child{
      margin-bottom: 7px;
      margin-top: 71px;
    }
  }
  #decoration .content >section:first-child >&:first-child{
    font-weight: 100;
    margin: 58px auto 22px;
    text-align: center;
  }
}
main{
  #decoration &{
    background-image: url($images_dir + 'backgrounds/tile-contents.png');
  }
}
p{
  #decoration .content >section:first-child >&{
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    margin-bottom: 27px;
    width: 672px;
  }
  #decoration .content >aside >&:first-child{
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
section{
  #decoration .top &{
    left: 133px;
    position: absolute;
    top: 510px;
    width: 75%;
  }
}
span{
  #decoration .contents aside &{
    background-image: url($images_dir + 'decoration/pyctos.png');
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
  }
  $i:1;
  @each $posY in 28,-197,-419,-641,-862,-1084,-1306,-1527 {
    #decoration .contents div:nth-child(#{$i}) &{
      background-position: 12px #{$posY}px;
    }
    $i:$i+1;
  }
}