@mixin gallery-small-inner-params($index){
  @media (max-width:$resolution-go-mobile966){
    #facade-beauty .gallery-small & {
      $p1:padding-right;
      $p2:padding-left;
      $o1:342px;
      $o2:342px;
      @if($index==0){ // p
        border-bottom: $border-btn;
        background:url($images_dir + 'facade/mob-second-section.jpg') no-repeat;
        $vcorrect:26;
        margin-bottom: 40px;
        margin-top: -76px !important;
        padding-top: 92px;
        &:nth-child(2){
          background-position: 0 35px;
          min-height: 258px + $vcorrect;
        }
        &:nth-child(4){
          background-position: 100% -390px;
          min-height: 235px + $vcorrect;
        }
        &:nth-child(6){
          background-position: 0 -627px;
          min-height: 256px + $vcorrect;
        }
        &:nth-child(8){
          background-position: 100% -1031px;
          min-height: 288px + $vcorrect;
        }

        $p1:padding-left;
        $p2:padding-right;
        $o3:$o1;
        $o1:$o2;
        $o2:$o3;
      }
      @else{
        padding-top:12px;
      }
      #{$p1}: $o1;
      &:nth-child(4n + #{$index}) {
        #{$p2}: $o2;
        #{$p1}: 0;
      }
    }
  }
}

aside{
  #after-stone .gallery-small &{
    position:relative;
  }
}
div{
  #after-stone >&{
    border-bottom: solid 1px white;
    overflow: hidden !important;
    padding-top: 51px;
    padding-bottom: 22px;
    position: relative;

    $imgs-facade:$images_dir + 'backgrounds/';

    &:nth-child(even){
      background: url($imgs-facade + 'tile-facade-light.png');
    }
    &:nth-child(odd){
      background: url($imgs-facade + 'tile-facade-darker.png');
    }
  }
  #after-stone >div >&{
    background: url($images_dir + "facade/vertical1.jpg") no-repeat;
    height: 100%;
    max-width: $max-width-container;
    margin: auto;
    min-height: 232px;
    overflow: auto;
    padding-left: 325px;
  }

  #facades section >&{
    background: url($images_dir + "facade/vertical1.jpg") no-repeat;
    border-bottom: solid 1px #e3e3e3;
    margin-top: 40px;
    padding-left: 257px;
  }

  $i:1;
  @each $offset in 96,681,5979,1269,1937,2673,3375{
    #facades section:nth-child(#{$i}) >&{
      background-position: 0 -#{$offset}px;
    }
    $i:$i+1;
  }
  @media (max-width:680px){
    $i:1;
    @each $offset in 96,681,5979,1269,1937,2673,3375{
      #facades section:nth-child(#{$i}) >&{
        background-position: center -#{$offset}px;
      }
      $i:$i+1;
    }
  }

  #facade .top >&{
    min-height: 530px;
    //margin: auto 25px;
    padding: 0 25px;
    @media (max-width:$resolution-go-mobile966){
      min-height: inherit;
    }
  }
  #facade .top >div >&{
    background-color: #FFF;
    @include border-radius(6px);
    box-sizing: border-box;
    min-height: 170px;
    margin: auto;
    overflow: auto;
    @include opacity(0.89);
    padding: 20px;
    @include transform(translateY(98px));
    max-width: 720px;
    @media (max-width:$resolution-go-mobile966){
      @include transform(translateY(0));
      margin-top: 26px;
      margin-bottom: 46px;
    }
  }
  #facade-beauty >div >&{
    @media (min-width:$resolution-go-mobile966 + 1){
      background: url($images_dir + 'facade/big-stone.jpg') no-repeat;
    }
    padding-left: 383px;
  }
  #facade-work >&.relative{
    height: 363px;
    margin: auto;
    padding: 16px;
    top: 112px;
    width: 512px;
    z-index: 1;
  }
  #facade-work &.substrate{
    background: #000;
    @include border-radius(6px);
    @include opacity(0.1);
    position: absolute;
    top:0; right:0; bottom: 0; left: 0;
    z-index: -1;
  }
}
h1{
  #facade .top &{
    font: 72px/77px PlumbMedium !important;
    color: white;
    margin: auto;
    position: relative;
    text-align: center;
    @include text-shadow(2px 2px 2px #999);
    top: 51px;
    width: 500px;
    @media (max-width:$resolution-go-mobile966){
      margin-top: 36px;
      position: static;
    }
  }
  #facade-work &.header-big{
    color: white;
    font: $font-header-big-default PlumbMedium;
    margin: 0;
    text-align: center;
  }
}
h2{
  #facade &{
    color: $color-dark-common;
    font-family: $font-second;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 4px;
  }
}
h4{
  #after-stone &,
  #facade-beauty &{
    color: $color-dark-common;
    font-family: $font-second;
    font-size: 21px;
    font-weight: 100;
    margin: 0;
  }
  @include gallery-small-inner-params(1);
}
li{
  #facade main ul.block &{
    font-family: $font-second;
    font-size: 14px;
    margin-bottom: 7px;
  }
}
p{
  #after-stone &,
  #facade-beauty &{
    margin-top: 14px !important;
  }
  #facade-beauty &{
    margin-bottom: 30px;
  }
  @include gallery-small-inner-params(0);
  #facade .top &{
    color: #1b1b1b;
    margin: 0;
    &:last-child{
      margin-top: 30px;
    }
  }
  #facade main &{
    &.pseudoheader{
      background: url($images_dir + 'facade/roofs.png') no-repeat 40px 93px;
      color: $color-dark-common;
      font: 17px/18px $font-second;
      height:160px;
      margin-bottom: 86px;
      margin-top: 46px;
      text-align: center;
      width: 740px;
    }
  }
  #facade main section &{
    margin-top: 0;
  }
  #facade-work &{
    color: white;
    font: 17px $font-second;
    padding: 7px;
    &:nth-child(2){
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &:nth-child(3){
      margin-top: 0;
    }
  }
}
section{
  #facade &#facade-work{
    background: url($images_dir + 'facade/facade-work.jpg') center;
    background-size: cover;
    height: 560px;
  }
}
span{
  #after-stone aside &{
    display: block;
  }
}

#facade{
  #gallery{
    height: 88px;
  }
  #work-examples{
    aside{
      margin-bottom: 59px;
    }
  }
}
#facades{
  .header-slim-big{
    font-size: 23px;
    margin-top: 28px;
    text-align: left;
  }
  .works-examples{
    margin-top: 13px;
  }
}
#facade-beauty{
  padding-top: 45px;
  aside{
    @include transform(translateY(12px));
  }
  .header-slim-middle{
    line-height: 32px;
  }
  .works-examples{
    margin-top: 14px;
    margin-bottom: 49px;
  }
}