@mixin gallery-small-inner-params($index){
  @media (max-width:$resolution-go-mobile966){
    #facade-beauty .gallery-small & {
      $p1:padding-right;
      $p2:padding-left;
      $o1:342px;
      $o2:342px;
      @if($index==0){ // p - уникальные для параграфа стили:
        &:not(:nth-child(2)){
          border-top: $border-btn;
        }
        background:url($images_dir + 'facade/mob-second-section.jpg') no-repeat;
        $vcorrect:26;
        margin-bottom: 40px;
        margin-top: -90px !important;
        padding-bottom: 40px;
        padding-right: $edge-mobile;
        padding-top: 102px;
        &:nth-child(2){
          background-position: $edge-mobile 35px;
          min-height: 258px + $vcorrect;
        }
        &:nth-child(4){
          background-position: 100% -1390px;
          min-height: 235px + $vcorrect;
        }
        &:nth-child(6){
          background-position: $edge-mobile -2633px;
          min-height: 256px + $vcorrect;
        }
        &:nth-child(8){
          background-position: 100% -3751px;
          min-height: 288px + $vcorrect;
        }

        $p1:padding-left;
        $p2:padding-right;
        $o3:$o1;
        $o1:$o2;
        $o2:$o3;
      }
      @else{ // h4 - уникальные для заголовка стили:
        padding-top:12px;
        padding-left: $edge-mobile;
      }
      #{$p1}: $o1; // padding-left|padding-right : 342px
      &:nth-child(4n + #{$index}) {
        #{$p2}: $o2;  // padding-left|padding-right : 342px
        #{$p1}: $edge-mobile;    // padding-left|padding-right : 0
      }
    }
  }
}

aside{
  #after-stone .gallery-small &{
    position:relative;
  }
}
div{
  #after-stone >&{
    border-bottom: solid 1px white;
    overflow: hidden !important;
    padding-top: 51px;
    padding-bottom: 22px;
    position: relative;

    $imgs-facade:$images_dir + 'backgrounds/';

    &:nth-child(even){
      background: url($imgs-facade + 'tile-facade-light.png');
    }
    &:nth-child(odd){
      background: url($imgs-facade + 'tile-facade-darker.png');
    }
  }
  #after-stone >div >&{
    //background: url($images_dir + "facade/vertical1.jpg") no-repeat;
    height: 100%;
    max-width: $max-width-container;
    margin: auto;
    min-height: 232px;
    transition: opacity 0.2s ease;
    /*opacity: 0.5;
    &:hover{
      opacity: 1;
    }*/
    overflow: auto;
    padding-left: 325px;
  }

  $i:1;
  @each $offset in 96,681,5979,1269,1937,2673,3375{
    #facades section:nth-child(#{$i}) >&{
      background-position: 0 -#{$offset}px;
    }
    $i:$i+1;
  }
  @media (max-width:$resolution-tablet-medium680){
    $i:1;
    @each $offset in 96,681,5979,1269,1937,2673,3375{
      #facades section:nth-child(#{$i}) >&{
        background-position: center -#{$offset}px;
      }
      $i:$i+1;
    }
  }

  #facade .top >&{
    min-height: 530px;
    //margin: auto 25px;
    padding: 0 25px;
    @media (max-width:$resolution-go-mobile966){
      min-height: inherit;
    }
  }
  #facade .top >div >&{
    background-color: #FFF;
    @include border-radius(6px);
    box-sizing: border-box;
    min-height: 170px;
    margin: auto;
    overflow: auto;
    @include opacity(0.89);
    padding: 20px;
    @include transform(translateY(98px));
    max-width: 720px;
    @media (max-width:$resolution-go-mobile966){
      @include transform(translateY(0));
      margin-top: 26px;
      margin-bottom: 46px;
    }
  }
  #facade-beauty >div >&{
    @media (min-width:$resolution-go-mobile966 + 1){
      background: url($images_dir + 'facade/big-stone.jpg') no-repeat;
    }
    padding-left: 383px;
  }
}
h1{
  #facade .top &.header-big{
    font-family: PlumbMedium;
    font-size: 72px !important;
    line-height: 77px;
    color: white;
    margin: auto;
    position: relative;
    text-align: center;
    @include text-shadow(2px 2px 2px #999);
    top: 51px;
    max-width: 500px;
    @media (max-width:$resolution-go-mobile966){
      margin-top: 36px;
      position: static;
    }
    @media (max-width:$resolution-tablet-small620){
      font-size: 24px !important;
      line-height: 28px !important;
      margin-bottom: -14px;
      width: 180px;
    }
  }
  #facade-work  &.header-big {
    color: white;
    font: $font-header-big-default PlumbMedium;
    margin: 0;
    text-align: center;
    @media (max-width: $resolution-phone424) {
      font-size: 24px !important;
    }
  }
}

h2{
  #facade &{
    color: $color-dark-common;
    font-family: $font-second;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 4px;
  }
}
h4{
  #after-stone &,
  #facade-beauty &{
    color: $color-dark-common;
    font-family: $font-second;
    font-size: 21px;
    font-weight: 100;
    margin: 0;
  }
  @include gallery-small-inner-params(1);
}
li{
  #facade main ul.block &{
    font-family: $font-second;
    font-size: 14px;
    margin-bottom: 7px;
  }
}
p{
  #after-stone &,
  #facade-beauty &{
    margin-top: 14px !important;
    padding-right: 25px;
  }
  @include gallery-small-inner-params(0);
  #facade .top &{
    color: #1b1b1b;
    margin: 0;
    &:last-child{
      margin-top: 30px;
    }
  }
  #facade main &{
    &.pseudoheader{
      background: url($images_dir + 'facade/roofs.png') no-repeat 40px 93px;
      color: $color-dark-common;
      font: 17px/18px $font-second;
      height:160px;
      margin-bottom: 86px;
      margin-top: 46px;
      text-align: center;
      max-width: 740px;
    }
  }
  #facade main section &{
    margin-top: 0;
  }
}

span{
  #after-stone aside &{
    display: block;
  }
}
#facade{
  #gallery{
    height: 88px;
  }
  #work-examples{
    aside{
      margin-bottom: 59px;
    }
  }
}
#facade-work{
   background: url($images_dir + 'facade/facade-work.jpg') center;
   background-size: cover;
   @media (max-width:$resolution-phone424){
     background-size: 400vw 159.7vw;
     background-position: -65% 0;
     padding: 0;
     position: relative;
   }
   @media (min-width:$resolution-phone424 + 1){
     min-height: 560px;
   }
  >div.relative{
    min-height: 363px;
    margin: auto;
    padding: 16px;
    top: 9vw;
    max-width: 512px;
    z-index: 1;
    @media (max-width:$resolution-phone424){
      bottom: 30px;
      padding-bottom: 52px;
      padding-top: 52px;
      position: static !important;
      top: 30px;
      .substrate{
        z-index: 0;
      }
    }
    p{
      color: white;
      font: 17px $font-second;
      padding: 7px;
      @media (max-width:$resolution-phone424){
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
      }
      &:nth-child(2){
        margin-bottom: 0;
        padding-bottom: 0;
      }
      &:nth-child(3){
        margin-top: 0;
      }
    }
  }
  .substrate{
    background: #000;
    @include border-radius(6px);
    @include opacity(0.1);
    position: absolute;
    top:0; right:0; bottom: 0; left: 0;
    z-index: -1;
    @media (max-width:$resolution-phone424){
      bottom: 30px;
      left: -30px;
      right: -30px;
      top: 30px;
    }
  }
}
#facades{
  .header-slim-big{
    font-size: 23px;
    margin-top: 28px;
    text-align: left;
  }
  .works-examples{
    margin-top: 13px;
  }
  >section {
    @media (max-width:$resolution-go-mobile966){
      @include column-break-inside(avoid);
      >div{
        height: inherit !important;
        margin-bottom: 20px;
        margin-top: 0;
        padding-bottom: 0;
        //padding:240px;
        padding-left: 0 !important;
        padding-right: 0;
        h2{
          text-align: center;
        }
      }
    }
    >div.gallery-small{
      //background: url($images_dir + "facade/vertical1.jpg") no-repeat;
      border-bottom: solid 1px #e3e3e3;
      margin-top: 40px;
      padding-left: 257px;
      position: relative;
      @media (max-width:$resolution-go-mobile966){
        border-bottom: none;
        height: auto;
        margin-top: 0;
        padding-top: 0;
      }
      @media (max-width:$resolution-tablet-medium680){
        p,ul{
          text-align: center;
        }
      }
      span{
        background: url($images_dir + "facade/vertical1.jpg") no-repeat;
        //background-position: center;
        background-repeat: no-repeat;
        background-size: 232px 2480%;
        height:250px;
        left:0;
        position: absolute;
        top:0;
        width: 250px;
        @media (max-width:$resolution-go-mobile966){
          background-size: 25vw 2480%;
          height: 27.5vw;
          display: block;
          margin: auto;
          position: static;
          width: 27.5vw;
        }
        //opacity: 0.5;
        //background-color: yellow;
        //border:dotted 1px;
        /*&:hover{
          opacity: 1;
        }*/
      }
    }
    &:nth-child(1){
      span{
        background-position: 13px 1.4% !important;
      }
    }
    &:nth-child(2){
      span{
        background-position: 13px 11.15% !important;
      }
    }
    &:nth-child(3){
      span{
        background-position: 13px 100.25% !important;
      }
    }
    &:nth-child(4){
      span{
        background-position: 13px 21.16% !important;
      }
    }
    &:nth-child(5){
      span{
        background-position: 13px 32.35% !important;
      }
    }
    &:nth-child(6){
      span{
        background-position: 13px 44.7% !important;
      }
    }
    &:nth-child(7){
      span{
        background-position: 13px 56.5% !important;
      }
    }
  }
}
#facade-beauty{
  padding-top: 45px;
  @media (max-width:$resolution-tablet-small620){
    padding-top: 20px;
  }
  aside{
    @include transform(translateY(12px));
  }
  .header-slim-middle{
    line-height: 32px;
  }
  .works-examples{
    margin-top: 14px;
    margin-bottom: 49px;
  }
}