#content-wrapper {
    height: 100%;
    overflow: auto;
    position: absolute;
    z-index: 3;
}
#images-container {
    margin: auto;
    overflow: hidden;
    position: relative;
}
#images-container section.left {
    left: 0;
}
#images-container section.right {
    right: 0;
}
#images-container >section {
    background-color: white;
    bottom: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
}
#loaded-content {
    position: relative;
}
#pix {
    position: absolute;
}
#preview-container {
    box-shadow: 0 10px 24px 3px rgba(0,0,0,0.65);
    display: table;
    margin: auto;
    position: relative;
}
#shell, #content-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}