/*ширина слайдера (видимой части)*/
#images-container{
    width: 788px;
}
/*высота слайдера*/
#images-container img, #images-container, #pix {
    height: 402px;
}
/*ширина изображений*/
#images-container img {
    width: 532px;
}
#images-container >section {
    width: 128px;
}
/*отступы краёв слайдера*/
#pix {
    /*  ширина слайдера
        минус
        колич. изображений * колич. картинок в центре
        ---------------------
        / 2
    */
    left: -936px; /* -(532+404)- ширина 1 изображения */
    /*  ширина контейнера с картинками (края скрыты) */
    width: 2682px;
}
.slides {
    height: 850px;
}
