.footer.why-moscow-home {
  >section >aside >div{
    &:first-child{
      padding-right: 30px;
    }
    &:last-child{
      padding-left: 59px;
    }
    h3{
      color: $color-dark-deep2;
      font-family: PlumbMedium;
      font-size: 36px;
      margin-bottom: 15px;
      margin-top: 0;
    }
  }
  ul li{
     background-repeat: no-repeat;
     background-position: center 0;
     display: table-cell;
     @include paragraph-dark(18px);
     padding-top: 72px;
     text-align: center;
     width: 20%;
     $i:1;
     $img-subdir: $images_dir + 'engineering/';
     @each $img in 1,2,3,4,5{
       &:nth-child(#{$i}){
         background-image: url($images_dir + 'footer' + $img + '.png');
       }
       $i:$i+1;
     }
   }
}
footer{
  &.index{
    margin-top: 12px !important;
    overflow: hidden;
    position: absolute;
  }
  .section{
    margin: auto;
    width: 698px;
      >div{
      @include nav-footer;
      &:first-child{
        @include nav-footer-common;
      }
    }
  }
}