@import "header/drop-down-menus";
@import "header/nav";
@import "header/menus";
.footer-mobile-menu{
  >section{
    margin: auto;
    max-width: 698px;
  }
}
header {
  .section.footer-mobile-menu {
    div{
      @include nav-footer;
      &:nth-child(1) {
        @include nav-footer-common;
      }
      &:nth-child(2){
        display: table;
        margin: auto;
      }
      /*&:nth-child(3){
      }*/
    }
  }
}
nav{
  position: relative;
}
