@charset "UTF-8";
$img-gallery-main-width:590px;
$img-gallery-main-height:375px;
$pointer-size:60px;
$prev-height:148px;
$prev-width: 107px;
$offset-transform:21px;

aside{
  @mixin pointer($bgcolor,$space,$pointer-size){
    background-color: $bgcolor;
    @include transition(background-color 0.3s ease);
    height: $space;
    opacity: 1;
    width: $space;
    &:first-child{
      background-image: url($images_dir + "pointer-" + $pointer-size + "-left.png");
    }
    &:last-child{
      background-image: url($images_dir + "pointer-" + $pointer-size + "-right.png");
    }
    &:hover{
      background-color: #000;
    }
  }
  #slider .pointers-aside > &,
  .gallery-pointers-aside >&{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    @include border-radius(50%);
    &.pointer-left, &.pointer-right{
      @include centered-vertical(absolute);
    }
  }
  #slider .pointers-aside > &{
    background-position-y: 16px;
    @include opacity(0.5);
    transition: opacity 0.3s ease;
    &:hover{
      @include opacity(1);
    }
    $space:80px;
    height: $space;
    width: $space;
    $url:$images_dir + "pointer.png";
    $offset:18px;
    &:nth-child(1){
      background-image: url($url);
      left: 0;
    }
    &:nth-child(2){
      background-image: url($url);
      right: 0;
      @include transform(scaleX(-1));
    }
  }
  .gallery-pointers-aside >&{ // все указатели в галерее, как средние, так и маленькие
    position: absolute;
    &:nth-child(1){
      left: 0;
    }
    &:nth-child(2){
      right: 0;
    }
  }
  .big &{ // средние указатели
    bottom: 0;
    @include pointer(#79797A,$pointer-size,medium);
  }
  .slider-container &{  // маленькие указатели
    margin-top: 126px;
    @include pointer(#461F12,36px,mini);
  }
}
body.gallery{
  .gallery-pointers-aside{
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .big .gallery-pointers-aside{
    //height: $img-gallery-main-height / 2 + $pointer-size / 2;
    height: inherit;
  }
  .slider-container .gallery-pointers-aside{
    top:-70px;
  }
}
.content-wrapper-mini{
  body.gallery &{
    height: 100%;
  }
}
[id^="gallery-pointer-box"]{
  position: relative;
  width: 790px;
  margin: auto;
}
[id^="gallery-pointers-box-"]{
  margin: auto;
  position: relative;
  &.big{
    bottom: 0;
    height: 100%;
    left: 0;
    max-width: 790px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
[id^="gallery-pointers-box-mini-"]{
  width: 900px;
  max-width: 100%;
}
.img, .img-mini{
  body.gallery &{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
  }
}
.img{
  body.gallery &{
    display: table-cell;
    height: $img-gallery-main-height;
    width: $img-gallery-main-width;
  }
}
.img-mini{
  body.gallery &{
    display: inline-block;
    height: 94px;
    margin-right: 21px;
    width: $prev-width;
  }
}
/*ширина слайдера (видимой части)*/
#images-container,
#preview-container{
  width: 100%;
}
#images-container{
  background-color: #e8e8e8;
  margin: auto;
  overflow: hidden;
  position: relative;
  /*img{  *//*высота слайдера*//*
    height: 151px;
  }*/
  .img { /*ширина изображений*/
    display: inline-block;
    height:100%;
  }
}
[id^="images-container-"]{
  body.gallery &{
    height: $img-gallery-main-height;
    position: relative;
  }
}
[id^="images-container-mini-"]{
  body.gallery &{
    height: $prev-height;
    position: relative;
    top: 28px;
    z-index: 1;
  }
}
#loader-wait{
  @include centered(35%);
  display: table;
  font: 20px $font-second;
  //z-index: 1;
  &::before{
    content: "Загрузка галереи...";
  }
}
[id^="loader-wait-"]{
  body.gallery &{
    font: 18px $font-second;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    @include centered-vertical;
    width: 100%;
    &::before{
      content: "Загрузка изображений...";
    }
  }
}
#loaded-content {
  position: relative;
}
[id^="loaded-content-mini-"]{
  @media (min-width:$resolution-tablet768 + 1){
    @include transform(translateX($offset-transform));
  }
}
.outer_container {
  background-color: white;
  display: none;
}
/*ширина блока с видео, отступ слева для сокрытия объектов с левого края */
#pix {
  //left: -545px; /* - ширина 1 объекта * 2 +5(?) */
  left:0;
  right: 0;
  position: absolute;
  /*  ширина контейнера с картинками (края скрыты) */
  //width: 2682px;
  width: 100%;
}
[id^="pix-"]{
  body.gallery &{
    white-space: nowrap;
    &:not([id*='-mini-']):not([data-value]){
      //background-color: orange;
      left: -$img-gallery-main-width;
      min-height: 200px;
      min-width: $img-gallery-main-width * 3;
      position: absolute;
      @include transform(translateX(-($img-gallery-main-width)));
    }
  }
}
[id^="pix-mini-"]{
  body.gallery &{
    &:not(.tiny){
      position: relative;
      @include transform(translateX(-150px));
    }
    &.tiny{
      display: table;
      margin: auto;
      @include transform(translateX($gallery-img-margin));
      @media (min-width:$resolution-tablet768 + 1){
        @include transform(translateX(-$offset-transform / 2));
      }
      &.cols1,
      &.cols2,
      &.cols3{
        width: inherit !important;
        @include transform(translateX(0));
        .img-mini{
          display: inline-block;
          margin: auto $gallery-img-margin / 2;
        }
      }
    }
  }
}
[id^="preview-container-"]{
  body.gallery &{
    background-color: #e8e8e8;
    @include border-radius;
    height: $img-gallery-main-height;
    margin: auto;
    overflow: hidden;
    width: 590px;
  }
}
[id^="preview-container-mini-"]{
  body.gallery & {
    background-color: transparent !important;
    height: 100%;
    max-width: 100%;
    width: 745px;
  }
}
#preview-container {
  display: inherit;
  position: relative;
}
.pointer {
  background-color: white !important;
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  opacity: 0.65;
  text-align: center;
  transition: all 0.3s ease;
  width: 34px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.pointer{
  &:hover{
    opacity: 1;
  }
  &.left, &.right{
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
  }
  &.left {
    background: url($images_dir + 'controls/pointer-left.png') no-repeat 12px;
    float: left;
  }
  &.right {
    background: url($images_dir + 'controls/pointer-right.png') no-repeat 15px;
    float: right;
  }
}
section{
  body.gallery main >&{
    max-width: inherit !important;
  }
}
#slider{
  .content-wrapper,
  #preview-container,
  #loaded-content,
  #images-container,
  #pix{
    height: 100% !important;
  }
}
.slider-container{
  background:url($images_dir + 'backgrounds/tile-gallery-main.png') #893C22;
  height: $prev-height;
  margin: 26px auto;
}
[id^="slider-"].fit{
  $offset:26px;
  body.gallery &{
    background: url($images_dir + 'backgrounds/tile-gallery.png');
    margin-bottom: -$offset;
    margin-top: -$offset;
    padding-bottom: $offset;
    padding-top: $offset;
    position: relative;
  }
}
[id^="slider-mini-"]{
  body.gallery &{
    height: 100%;
  }
}