[id^='gallery-pointers-box-mini-'] aside{
    margin-top: 60px;
}
[id^='gallery-pointers-box-mini-'] div > aside:last-child{
    right: -27px;
}
[id^='images-container-mini-']{
    /*transform: translateX(-10.5px);*/
}
.big aside{
    bottom: -21px;
    width: 81px;
}
.big .gallery-pointers-aside > aside:nth-child(2){
    right: -20px;
}
.gallery-pointers-aside > aside{
    margin-top: 150px;
}
.pointers-aside > aside:nth-child(2), .gallery-pointers-aside > aside:nth-child(2){
    margin-right: inherit;
}
.slider-container .gallery-pointers-aside >aside{
    margin-top: 60px;
}
.slider-container .gallery-pointers-aside >aside:last-child{
    margin-right:-18px;
}