  /*#index #level1 .slider-bottom .slides a:nth-child(3n+2) {
    box-shadow: 0 0 0 4px green inset;      
  }*/
  /*вторая картинка в ряду*/
  /*#index #level1 .slider-bottom .slides a:nth-child(3n+0) {
    box-shadow: 0 0 0 4px violet inset;
  }*/
  /*третья картинка в ряду*/
  /*#index #level1 .slider-bottom .slides a:nth-child(3n+1) {
    box-shadow: 0 0 0 4px red inset;
  }*/     
/*
966/540 - 3
424 - 2
*/
@media (max-width: 966px) {
  /* три картинки в ряду до 320px*/
  /*внешний контейнер*/
  #index #level1 .slider-bottom {
    background-color: aqua;
    padding:0 15px;
  }
    
      /*ссылки, полностью заполняют вложенный контейнер*/
      #index #level1 .slider-bottom .slides a{
        float: none;
        display: inline-block;
        padding:2px;
      }
      /*скрыть первую (текстовую ссылку)*/    
      #index #level1 .slider-bottom .slides a:first-child{
        display:none;
      }
}
@media (min-width: 541px){
  #index #level1 .slider-bottom .slides{ 
    background-color: brown;
    width: 340px;
  }
}
@media (min-width:721px){
  #index #level1 .slider-bottom .slides{ 
    background-color: goldenrod;
    width: 442px;
  }
}
@media (min-width:961px){
  #index #level1 .slider-bottom .slides{ 
    background-color: orange;
    width: 468px;
  }  
}


/*@media (max-width: 540px){
  #index #level1 .slider-bottom .slides{
    width:100%;
  }
  #index #level1 .slider-bottom .slides a {
    width: 33.33%;
  }
}
@media (max-width: 360px){
  #index #level1 .slider-bottom .slides a {
      margin:auto;
      width: 50%;
  }
  #index #level1 .slider-bottom .slides a:nth-child(even) {
    padding-right:2px;
  }
  #index #level1 .slider-bottom .slides a:nth-child(odd) {
    padding-left:2px;
  }
  
  #index #level1 .slider-bottom .slides a img{

  }
}*/
@media (max-width: 320px){
  #index #level1 .slider-bottom .slides a {
    /* height:140px; */
    /* width:158px; */
  }
}