header{
  /*box-shadow: 0 0 10px 10px green;*/
  background-color: pink;
  left:0;
}
@media (min-width:1023px){
  header nav aside{
    top: inherit;
    line-height: 68px;
    transform: none;
  }
}
@media (max-width:620px){
  .relative-size>div{
    overflow:hidden;
  }
}
/*
@media (max-width:1023px){
  header nav aside{
    background-color:violet;
    line-height:inherit;
    top:50%;
    -webkit-transform:translateY(-50%);
  }
}*/