extends ./layout.jade
block title
    title Инженерные системы
block content
    body
        #ingineering-systems.container
            .top
                div
                    h1="Инженерные системы"
                    p="Moscow Home обладает многолетним опытом строительства домов эконом класса и премиум-сегмента. Мы строим дома, которые отражают статус своего хозяина, подчеркивают его вкус и увлечения."
                    p="Компания реализовала более ста строительных объектов в престижных районах Московской области и получает от своих заказчиков превосходные рекомендации."
            .contact
                include modules/recall-me
            main.content
                div
            .contact
                div
            .footer
                div