doctype html
html
    head
        link(href="static/css/default.css",rel="stylesheet")
        script(src="static/js/min/jquery.min.js")
        script(src="static/js/common.js")
        block map
        block title
            title Default title
    body
        block content