doctype html
html
    head
        link(href="static/css/default.css",rel="stylesheet")
        script(src="static/js/min/jquery.min.js")
        script(src="static/js/common.js")
        script(src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU")
        block title
            title Default title
    body
        block content