ul.you-need
    each text,link in {'design':"Проектирование и дизайн",'decoration':"Общестроительные и отделочные работы",'facade':"Кровельные и фасадные работы",'engineering':"Инженерные системы"}
        li(title=text)
            div
                div
                    a(href=link+".html")=text
