@charset "UTF-8";
/* default sass file */
@font-face {
  font-family: 'PlumbLight';
  src: url("../fonts/PlumbLightC.eot");
  src: url("../fonts/PlumbLightC.eot") format("embedded-opentype"), url("../fonts/PlumbLightC.woff2") format("woff2"), url("../fonts/PlumbLightC.woff") format("woff"), url("../fonts/PlumbLightC.ttf") format("truetype"), url("../fonts/PlumbLightC.svg#PlumbLightC") format("svg");
}

@font-face {
  font-family: 'PlumbMedium';
  src: url("../fonts/PlumbMediumC.eot");
  src: url("../fonts/PlumbMediumC.eot") format("embedded-opentype"), url("../fonts/PlumbMediumC.woff2") format("woff2"), url("../fonts/PlumbMediumC.woff") format("woff"), url("../fonts/PlumbMediumC.ttf") format("truetype"), url("../fonts/PlumbMediumC.svg#PlumbMediumC") format("svg");
}

/* line 16, ../../_dev/scss/common-elements.scss */
a,
article,
aside,
body,
footer,
header,
div,
li,
main,
menu,
nav,
p,
section,
span,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../_dev/scss/common-elements.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 3, ../../_dev/scss/tags.scss */
a.btn {
  background-color: #bf451e;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  color: white;
  display: inline-block;
  font-family: PlumbMedium;
  font-size: 0.85rem;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 15, ../../_dev/scss/tags.scss */
ul.social a {
  display: block;
  height: 37px;
  width: 35px;
}
/* line 20, ../../_dev/scss/tags.scss */
.footer.why-moscow-home div.float-left:first-child a {
  border-right: solid 1px;
  display: inline-block;
  margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #3f3f3f;
  padding: 0 5px;
  text-decoration: none;
}
/* line 27, ../../_dev/scss/tags.scss */
.footer.why-moscow-home div.float-left:first-child a.start {
  padding-left: 0;
}
/* line 30, ../../_dev/scss/tags.scss */
.footer.why-moscow-home div.float-left:first-child a.finish {
  border-right: none;
}
/* line 35, ../../_dev/scss/tags.scss */
.slides aside a.btn {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 12.5px;
  text-align: center;
  width: 128px;
}
/* line 44, ../../_dev/scss/tags.scss */
#decoration .slides > div.float-left a {
  display: block;
  font-size: 0;
}
/* line 48, ../../_dev/scss/tags.scss */
#decoration .slides > div.float-left:first-child a {
  height: 100%;
  width: 476px;
}
/* line 52, ../../_dev/scss/tags.scss */
#decoration .slides > div.float-left:last-child a {
  float: left;
  height: 134px;
  margin-bottom: 9px;
  margin-right: 8.5px;
  width: 153px;
}
/* line 60, ../../_dev/scss/tags.scss */
#decoration .slides > div.float-left:last-child a:nth-child(3), #decoration .slides > div.float-left:last-child a:nth-child(6) {
  margin-right: 0;
}
/* line 64, ../../_dev/scss/tags.scss */
#our-works ul.table a {
  color: #aa4b29;
  font-family: PlumbMedium;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 140px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* line 73, ../../_dev/scss/tags.scss */
#our-works ul.table a:hover {
  text-decoration: underline;
}
/* line 77, ../../_dev/scss/tags.scss */
#you-need ul a {
  color: #bf451e;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 15px;
  padding-left: 66px;
  white-space: normal;
}

/* line 88, ../../_dev/scss/tags.scss */
#decoration .content .contents div aside {
  background-image: url("../images_temp/backgrounds/tile-100.png");
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 120px;
  margin-left: -157px;
  margin-top: -60px;
  width: 120px;
}
/* line 98, ../../_dev/scss/tags.scss */
#design .wide > aside {
  background: white;
}
/* line 101, ../../_dev/scss/tags.scss */
#design #work-examples > aside {
  margin-bottom: 41px;
  margin-top: 73px;
}
/* line 107, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(2) aside {
  margin-top: -69px;
}
/* line 107, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(3) aside {
  margin-top: -51px;
}
/* line 107, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(4) aside {
  margin-top: -57px;
}
/* line 107, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(5) aside {
  margin-top: -62px;
}
/* line 107, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(6) aside {
  margin-top: -57px;
}
/* line 107, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(7) aside {
  margin-top: -52px;
}
/* line 107, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(8) aside {
  margin-top: -58px;
}
/* line 112, ../../_dev/scss/tags.scss */
#engineering-systems .content aside {
  margin-bottom: 67px;
}
/* line 115, ../../_dev/scss/tags.scss */
.footer.why-moscow-home > section > aside {
  margin: 21px auto auto;
  overflow: hidden;
  width: 94%;
}
/* line 120, ../../_dev/scss/tags.scss */
#pointers-aside > aside {
  background-color: black;
  background-position: center;
  background-position-y: 16px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 132, ../../_dev/scss/tags.scss */
#pointers-aside > aside:nth-child(1) {
  background-image: url("../images_temp/pointer.png");
  float: left;
  margin-left: 18px;
}
/* line 137, ../../_dev/scss/tags.scss */
#pointers-aside > aside:nth-child(2) {
  background-image: url("../images_temp/pointer.png");
  float: right;
  margin-right: 18px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 144, ../../_dev/scss/tags.scss */
.slides aside {
  background: url("../images_temp/backgrounds/tile-microsquare.png");
  height: 135px;
  position: absolute;
  right: 3px;
  top: 20px;
  width: 153px;
}

/* line 153, ../../_dev/scss/tags.scss */
body {
  color: #5d534e;
}

/* line 157, ../../_dev/scss/tags.scss */
button.attach-file, button.print {
  height: 31px;
  color: #a64726;
  font-size: 13px;
}
/* line 162, ../../_dev/scss/tags.scss */
button.attach-file {
  background: url("../images_temp/attach-file.png") white no-repeat 10px 4px;
  border: none;
  border-radius: 10px;
  padding-left: 26px;
  text-transform: uppercase;
  width: 175px;
}
/* line 170, ../../_dev/scss/tags.scss */
button.bg-recall {
  background-position: 14px 11px;
}
/* line 175, ../../_dev/scss/tags.scss */
#design .content button.btn-more {
  background-color: #f8f8f8;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  display: table;
  height: 28px;
  margin-top: -17px;
  width: 90px;
}
/* line 185, ../../_dev/scss/tags.scss */
button.btn-more::before {
  content: "Подробнее";
}
/* line 188, ../../_dev/scss/tags.scss */
.do-it button {
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  float: right;
  font-family: PlumbMedium;
  font-size: 14px;
  height: 38px;
  margin-left: 16px;
  padding-left: 29px;
  text-transform: uppercase;
  width: 180px;
}
/* line 201, ../../_dev/scss/tags.scss */
button.print {
  background: url("../images_temp/print.png") white no-repeat 13px 9px;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  padding-left: 41px;
  width: 175px;
}

/* line 211, ../../_dev/scss/tags.scss */
.do-it div.phone-number {
  float: left;
  font-family: PlumbMedium;
  font-size: 36px;
  margin-right: 2px;
  margin-left: 32px;
}
/* line 219, ../../_dev/scss/tags.scss */
#decoration div.slider-bottom {
  height: 376px;
}
/* line 222, ../../_dev/scss/tags.scss */
#decoration .top div.relative {
  background-image: url("../images_temp/decoration/decoration-top.png");
  background-repeat: no-repeat;
  background-position: 85px 232px;
}
/* line 227, ../../_dev/scss/tags.scss */
#decoration .content .contents > div {
  height: 222px;
}
/* line 229, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(1) {
  height: 193px;
}
/* line 232, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(even) {
  background-image: url("../images_temp/backgrounds/tile-contents-grey-light.png");
}
/* line 235, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(odd):not(1) {
  background-image: url("../images_temp/backgrounds/tile-contents-dark.png");
}
/* line 239, ../../_dev/scss/tags.scss */
#decoration .content .contents > div > div {
  font: 17px/20px Arial, Helvetica, sans-serif;
  margin: auto;
  padding-left: 160px;
  padding-top: 60px;
  width: 960px;
}
/* line 248, ../../_dev/scss/tags.scss */
#design #our-works > div:nth-child(1) {
  padding-top: 26px;
}
/* line 251, ../../_dev/scss/tags.scss */
#design #our-works > div:nth-child(2) {
  background: #f8f8f8;
  padding-top: 84px;
}
/* line 255, ../../_dev/scss/tags.scss */
#design #our-works > div:nth-child(3) {
  background: #f8f8f8;
  padding-bottom: 64px;
  padding-top: 40px;
}
/* line 261, ../../_dev/scss/tags.scss */
#our-works div.gallery-next.header-slim-big {
  height: 52px;
}
/* line 264, ../../_dev/scss/tags.scss */
#design #style-classic + div {
  padding-bottom: 28px;
}
/* line 267, ../../_dev/scss/tags.scss */
#design #style-modern + div {
  padding-bottom: 54px;
}
/* line 270, ../../_dev/scss/tags.scss */
.slider-bottom div {
  background: url("../images_temp/backgrounds/tile-gallery.png");
  height: 184px;
  margin: -13px auto -12px;
  padding: 20px 0;
}
/* line 276, ../../_dev/scss/tags.scss */
#design .slider-bottom div {
  background: #f8f8f8;
}
/* line 281, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(2) > div {
  padding-top: 80px;
}
/* line 281, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(3) > div {
  padding-top: 102px;
}
/* line 281, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(4) > div {
  padding-top: 88px;
}
/* line 281, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(5) > div {
  padding-top: 92px;
}
/* line 281, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(6) > div {
  padding-top: 87px;
}
/* line 281, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(7) > div {
  padding-top: 102px;
}
/* line 281, ../../_dev/scss/tags.scss */
#decoration .content .contents > div:nth-child(8) > div {
  padding-top: 88px;
}
/* line 287, ../../_dev/scss/tags.scss */
#decoration .slides div.float-left {
  background-repeat: no-repeat;
  height: 280px;
  width: 50%;
}
/* line 291, ../../_dev/scss/tags.scss */
#decoration .slides div.float-left:nth-child(1) {
  background-image: url("../images_temp/decoration/exmpl-big.jpg");
}
/* line 294, ../../_dev/scss/tags.scss */
#decoration .slides div.float-left:nth-child(2) {
  background-image: url("../images_temp/decoration/exmpls-right.jpg");
}
/* line 299, ../../_dev/scss/tags.scss */
#design div.top.relative {
  background-image: url("../images_temp/design/top-visual-bg.jpg");
  background-repeat: no-repeat;
  background-position: 71% 0;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12) inset;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12) inset;
}
/* line 305, ../../_dev/scss/tags.scss */
#design div.top-container {
  height: 659px;
}
/* line 310, ../../_dev/scss/tags.scss */
#design .top.relative + div.do-it {
  position: relative;
}
/* line 313, ../../_dev/scss/tags.scss */
#design .content .wide > div {
  margin: auto;
  padding-right: 410px;
  width: 960px;
}
/* line 318, ../../_dev/scss/tags.scss */
#design .content .wide:nth-child(2) > div {
  padding-right: 310px;
}
/* line 321, ../../_dev/scss/tags.scss */
#design .content .wide:nth-child(4) > div {
  padding-right: 260px;
}
/* line 324, ../../_dev/scss/tags.scss */
#design .content .wide:nth-child(5) > div {
  padding-right: 350px;
}
/* line 328, ../../_dev/scss/tags.scss */
#design #visual-bottom > .relative > div.relative {
  height: 290px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transform: translateY(83px);
  -moz-transform: translateY(83px);
  -ms-transform: translateY(83px);
  -o-transform: translateY(83px);
  transform: translateY(83px);
  width: 845px;
}
/* line 337, ../../_dev/scss/tags.scss */
#design #visual-bottom > .relative > .relative > div.absolute {
  width: 100%;
  z-index: -1;
}
/* line 342, ../../_dev/scss/tags.scss */
#design #visual-bottom > .relative > .relative > div.absolute:nth-child(3) {
  background-color: white;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  height: 115px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=91);
  opacity: 0.91;
  top: -8px;
}
/* line 349, ../../_dev/scss/tags.scss */
#design #visual-bottom > .relative > .relative > div.absolute:nth-child(4) {
  background-color: #a64726;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  bottom: 8px;
  top: 107px;
}
/* line 357, ../../_dev/scss/tags.scss */
#design div#frame {
  background: url("../images_temp/design/frame.png") no-repeat;
  height: 282px;
  position: absolute;
  top: 35px;
  right: 1.2%;
  width: 272px;
}
/* line 365, ../../_dev/scss/tags.scss */
#design div#lamp {
  background: url("../images_temp/design/lamp.png") no-repeat;
  height: 219px;
  position: absolute;
  right: 23%;
  top: -14px;
  width: 118px;
}
/* line 373, ../../_dev/scss/tags.scss */
#design div#sofa {
  background: url("../images_temp/design/sofa.png") no-repeat;
  height: 156px;
  position: absolute;
  right: 7%;
  top: 333px;
  width: 282px;
}
/* line 381, ../../_dev/scss/tags.scss */
#engineering-systems .content > section > div {
  position: absolute;
}
/* line 384, ../../_dev/scss/tags.scss */
#engineering-systems .content > section:nth-child(1) > div {
  top: 84px;
}
/* line 387, ../../_dev/scss/tags.scss */
#engineering-systems .content > section:nth-child(2) > div {
  top: 84px;
}
/* line 390, ../../_dev/scss/tags.scss */
#engineering-systems .content > section:nth-child(3) > div {
  top: 55px;
}
/* line 394, ../../_dev/scss/tags.scss */
.footer.why-moscow-home > section > aside > div:first-child {
  padding-right: 30px;
}
/* line 397, ../../_dev/scss/tags.scss */
.footer.why-moscow-home > section > aside > div:last-child {
  padding-left: 59px;
}
/* line 401, ../../_dev/scss/tags.scss */
#engineering-systems .top > div {
  background: url("../images_temp/top-engineering.gif") no-repeat 97.1% 89px;
  padding-left: 50px;
  padding-right: 485px;
  padding-top: 84px;
}
/* line 407, ../../_dev/scss/tags.scss */
#showcase > div {
  background: url("../images_temp/backgrounds/tile-100.png") #811d00;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  position: relative;
  margin: auto;
  width: 948px;
}
/* line 416, ../../_dev/scss/tags.scss */
#slider div.img-box {
  background-image: url("../images_temp/slider-main.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: auto;
}
/* line 425, ../../_dev/scss/tags.scss */
#slider ul.social + div {
  background-color: white;
  -moz-border-radius-topright: 11px;
  -webkit-border-top-right-radius: 11px;
  border-top-right-radius: 11px;
  -moz-border-radius-bottomright: 11px;
  -webkit-border-bottom-right-radius: 11px;
  border-bottom-right-radius: 11px;
  height: 162px;
  left: 0;
  position: absolute;
  top: 12%;
  width: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}
/* line 432, ../../_dev/scss/tags.scss */
#you-need ul li > div {
  height: 100%;
}
/* line 435, ../../_dev/scss/tags.scss */
#you-need ul li > div > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 440, ../../_dev/scss/tags.scss */
footer.index {
  margin-top: 12px !important;
  overflow: hidden;
  position: absolute;
}

/* line 447, ../../_dev/scss/tags.scss */
.top h1 {
  color: white;
  font-weight: normal;
  margin-bottom: 36px;
}
/* line 455, ../../_dev/scss/tags.scss */
#decoration .top h1 {
  display: table;
  margin: auto;
  text-align: center;
}
/* line 459, ../../_dev/scss/tags.scss */
#decoration .top h1:first-child {
  margin-bottom: 7px;
  margin-top: 71px;
}
/* line 464, ../../_dev/scss/tags.scss */
#decoration .content > section:first-child > h1:first-child {
  font-weight: 100;
  margin: 58px auto 22px;
  text-align: center;
}
/* line 469, ../../_dev/scss/tags.scss */
#design .top.relative h1 {
  line-height: 61px;
  margin: 44px auto auto;
  text-align: center;
  width: 650px;
}

/* line 477, ../../_dev/scss/tags.scss */
#design .content h2 {
  color: #5d534e;
  font: 48px/50px PlumbLight;
  font-weight: 100;
  margin: 63px auto 37px;
}
/* line 483, ../../_dev/scss/tags.scss */
#design .content section:nth-child(1) h2 {
  margin-top: 0;
}
/* line 486, ../../_dev/scss/tags.scss */
#design .content section:nth-child(2) h2 {
  margin-bottom: 26px;
  margin-top: 51px;
  padding-right: 100px;
}
/* line 491, ../../_dev/scss/tags.scss */
#design .content section:nth-child(3) h2 {
  margin-bottom: 26px;
  margin-top: 53px;
  padding-right: 80px;
}
/* line 496, ../../_dev/scss/tags.scss */
#design .content section:nth-child(4) h2 {
  margin-top: 52px;
}
/* line 499, ../../_dev/scss/tags.scss */
#design .content section:nth-child(5) h2 {
  margin-top: 52px;
  padding-right: 50px;
}
/* line 503, ../../_dev/scss/tags.scss */
#design .content section:nth-child(6) h2 {
  padding-bottom: 41px;
  padding-top: 73px;
}
/* line 507, ../../_dev/scss/tags.scss */
#design #visual-bottom h2.header-big {
  color: #a64726;
  font-weight: 100;
  height: 107px;
  line-height: 49px;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
}
/* line 519, ../../_dev/scss/tags.scss */
#engineering-systems .content h2 {
  color: #5d534e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 14px;
  margin-right: -4px;
  margin-top: 0;
}

/* line 530, ../../_dev/scss/tags.scss */
.footer h3 {
  color: #3f3f3f;
  font-family: PlumbMedium;
  font-size: 36px;
  margin-bottom: 15px;
  margin-top: 0;
}

/* line 538, ../../_dev/scss/tags.scss */
header {
  background-color: white;
  display: table;
}

/* line 543, ../../_dev/scss/tags.scss */
.slides a:not(:first-child) img {
  margin-left: 9px;
}

/* line 548, ../../_dev/scss/tags.scss */
ul li {
  display: table-cell;
}
/* line 551, ../../_dev/scss/tags.scss */
ul.social li {
  display: block;
  padding: 4px;
}
/* line 555, ../../_dev/scss/tags.scss */
#our-works ul.table li {
  background: url("../images_temp/design/40specs.jpg") no-repeat;
  position: relative;
}
/* line 560, ../../_dev/scss/tags.scss */
#our-works ul.table li:nth-child(1) {
  background-position: 22px 0;
}
/* line 560, ../../_dev/scss/tags.scss */
#our-works ul.table li:nth-child(2) {
  background-position: -168px 0;
}
/* line 560, ../../_dev/scss/tags.scss */
#our-works ul.table li:nth-child(3) {
  background-position: -354px 0;
}
/* line 560, ../../_dev/scss/tags.scss */
#our-works ul.table li:nth-child(4) {
  background-position: -538px 0;
}
/* line 560, ../../_dev/scss/tags.scss */
#our-works ul.table li:nth-child(5) {
  background-position: -728px 0;
}
/* line 566, ../../_dev/scss/tags.scss */
#engineering-systems .content li {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #3f3f3f;
  margin-bottom: 16px;
}
/* line 571, ../../_dev/scss/tags.scss */
.footer.why-moscow-home ul li {
  background-repeat: no-repeat;
  background-position: center 0;
  display: table-cell;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #3f3f3f;
  padding-top: 72px;
  text-align: center;
  width: 20%;
}
/* line 582, ../../_dev/scss/tags.scss */
.footer.why-moscow-home ul li:nth-child(1) {
  background-image: url("../images_temp/engineering/footer1.png");
}
/* line 582, ../../_dev/scss/tags.scss */
.footer.why-moscow-home ul li:nth-child(2) {
  background-image: url("../images_temp/engineering/footer2.png");
}
/* line 582, ../../_dev/scss/tags.scss */
.footer.why-moscow-home ul li:nth-child(3) {
  background-image: url("../images_temp/engineering/footer3.png");
}
/* line 582, ../../_dev/scss/tags.scss */
.footer.why-moscow-home ul li:nth-child(4) {
  background-image: url("../images_temp/engineering/footer4.png");
}
/* line 582, ../../_dev/scss/tags.scss */
.footer.why-moscow-home ul li:nth-child(5) {
  background-image: url("../images_temp/engineering/footer5.png");
}
/* line 588, ../../_dev/scss/tags.scss */
#showcase li {
  color: white;
  display: list-item;
  font-family: PlumbMedium;
  font-size: 13px;
  line-height: 18px;
  list-style-image: url("../images_temp/checked.png");
  min-height: 29px;
  padding-left: 3px;
  text-transform: uppercase;
}
/* line 599, ../../_dev/scss/tags.scss */
#you-need li {
  display: table-cell;
  height: 66px;
  max-width: 250px;
  text-align: left;
}
/* line 608, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(1) {
  background: url("../images_temp/need-design.png") no-repeat;
  background-position: 0 9px;
}
/* line 612, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(2) {
  background: url("../images_temp/need-facade.png") no-repeat;
  padding-left: 13px;
}
/* line 616, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(3) {
  background: url("../images_temp/need-building.png") no-repeat;
  padding-left: 13px;
}
/* line 620, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(4) {
  background: url("../images_temp/need-engineering.png") no-repeat;
  background-position: 0 9px;
  width: 167px;
}

/* line 628, ../../_dev/scss/tags.scss */
#decoration main {
  background-image: url("../images_temp/backgrounds/tile-contents.png");
}
/* line 631, ../../_dev/scss/tags.scss */
#design main {
  background: url("../images_temp/backgrounds/tile-design-main.png") white;
  padding-top: 63px;
}

/* line 636, ../../_dev/scss/tags.scss */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
/* line 639, ../../_dev/scss/tags.scss */
.do-it p {
  display: table;
  margin: 27px auto 6px;
}
/* line 643, ../../_dev/scss/tags.scss */
.top p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-bottom: 32px;
}
/* line 649, ../../_dev/scss/tags.scss */
#decoration .content > section:first-child > p {
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  margin-bottom: 27px;
  width: 672px;
}
/* line 656, ../../_dev/scss/tags.scss */
#decoration .content > aside > p:first-child {
  margin-top: 50px;
  margin-bottom: 21px;
}
/* line 660, ../../_dev/scss/tags.scss */
#design .top-container p {
  font-size: 18px;
  color: #3f3f3f;
  margin-left: 118px;
  padding-right: 370px;
  position: relative;
  top: 23px;
  width: 710px;
}
/* line 669, ../../_dev/scss/tags.scss */
#design .content p {
  font: 18px/20px Arial, Helvetica, sans-serif;
  margin-bottom: 32px;
}
/* line 673, ../../_dev/scss/tags.scss */
#design .content .wide:nth-child(4) p {
  padding-right: 120px;
}
/* line 676, ../../_dev/scss/tags.scss */
#design .content .wide:nth-child(5) p {
  padding-right: 20px;
}
/* line 679, ../../_dev/scss/tags.scss */
#design .top-container h1 + p {
  top: 27px;
}
/* line 682, ../../_dev/scss/tags.scss */
#design #visual-bottom > div p {
  color: white;
  font-size: 17px;
  line-height: 20px;
  margin: 26px;
  margin-right: -60px;
}
/* line 690, ../../_dev/scss/tags.scss */
#engineering-systems .content p.header-slim-big {
  line-height: 46px;
  margin-bottom: 41px;
}
/* line 695, ../../_dev/scss/tags.scss */
#our-works p {
  color: #5d534e;
  text-align: center;
}
/* line 699, ../../_dev/scss/tags.scss */
#our-works p.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
/* line 703, ../../_dev/scss/tags.scss */
#our-works p.header + p {
  color: #5d534e;
  font-size: 17px;
  margin-top: -21px;
}
/* line 709, ../../_dev/scss/tags.scss */
#you-need p.header-slim-big {
  margin-bottom: 32px;
}
/* line 713, ../../_dev/scss/tags.scss */
.footer.why-moscow-home p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #3f3f3f;
}
/* line 715, ../../_dev/scss/tags.scss */
.footer.why-moscow-home p.header-big {
  color: #404040;
  display: table;
  line-height: 57px;
  margin: 66px auto 41px;
  text-align: center;
  width: 500px;
}
/* line 724, ../../_dev/scss/tags.scss */
.footer.why-moscow-home div.float-left:first-child p {
  margin-bottom: 6px;
}

/* line 729, ../../_dev/scss/tags.scss */
.menu-container section {
  display: none;
}
/* line 731, ../../_dev/scss/tags.scss */
.menu-container section.visible {
  display: block;
}
/* line 735, ../../_dev/scss/tags.scss */
.do-it section {
  display: table;
  margin: auto;
}
/* line 739, ../../_dev/scss/tags.scss */
#decoration .top section {
  left: 133px;
  position: absolute;
  top: 510px;
  width: 75%;
}
/* line 745, ../../_dev/scss/tags.scss */
#design .content > section {
  overflow: hidden;
}
/* line 747, ../../_dev/scss/tags.scss */
#design .content > section:nth-child(odd):not(:first-child) {
  background-color: #f6f6f6;
}
/* line 752, ../../_dev/scss/tags.scss */
#design .content > section:nth-child(1) {
  height: 407px;
}
/* line 752, ../../_dev/scss/tags.scss */
#design .content > section:nth-child(2) {
  height: 444px;
}
/* line 752, ../../_dev/scss/tags.scss */
#design .content > section:nth-child(3) {
  height: 381px;
}
/* line 752, ../../_dev/scss/tags.scss */
#design .content > section:nth-child(4) {
  height: 340px;
}
/* line 752, ../../_dev/scss/tags.scss */
#design .content > section:nth-child(5) {
  height: 381px;
}
/* line 758, ../../_dev/scss/tags.scss */
#design section#visual-bottom {
  background: url("../images_temp/design/visual-bottom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 454px;
}
/* line 765, ../../_dev/scss/tags.scss */
#engineering-systems .content section {
  background-repeat: no-repeat;
  border-bottom: dotted 2px #e3e3e3;
  padding-left: 465px;
  padding-right: 60px;
  position: relative;
}
/* line 772, ../../_dev/scss/tags.scss */
#engineering-systems .content section:nth-child(1) {
  background-image: url("../images_temp/engineering/section1.jpg");
  background-position: 23px;
  height: 352px;
}
/* line 777, ../../_dev/scss/tags.scss */
#engineering-systems .content section:nth-child(2) {
  background-image: url("../images_temp/engineering/section2-leaf.jpg");
  background-position: 25px 54px;
  height: 266px;
}
/* line 782, ../../_dev/scss/tags.scss */
#engineering-systems .content section:nth-child(3) {
  background-image: url("../images_temp/engineering/section3.gif");
  background-position: 46px;
  height: 301px;
}

/* line 790, ../../_dev/scss/tags.scss */
button.print span {
  border-bottom: dotted 1px #a64726;
  display: table;
}
/* line 794, ../../_dev/scss/tags.scss */
.footer.why-moscow-home ul span {
  background-color: #7d2b12;
  color: white;
  display: table;
  margin: auto;
  padding: 0 4px;
}
/* line 801, ../../_dev/scss/tags.scss */
.arrows span {
  color: #FF6447;
  display: inline-block;
  padding: 0 4px;
}
/* line 806, ../../_dev/scss/tags.scss */
#decoration .contents aside span {
  background-image: url("../images_temp/decoration/pyctos.png");
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 813, ../../_dev/scss/tags.scss */
#our-works ul.table a span {
  display: block;
  white-space: nowrap;
}
/* line 818, ../../_dev/scss/tags.scss */
#style-classic span, #style-modern span {
  color: #a64726;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(1) span {
  background-position: 12px 28px;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(2) span {
  background-position: 12px -197px;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(3) span {
  background-position: 12px -419px;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(4) span {
  background-position: 12px -641px;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(5) span {
  background-position: 12px -862px;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(6) span {
  background-position: 12px -1084px;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(7) span {
  background-position: 12px -1306px;
}
/* line 823, ../../_dev/scss/tags.scss */
#decoration .contents div:nth-child(8) span {
  background-position: 12px -1527px;
}

/* line 829, ../../_dev/scss/tags.scss */
ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 833, ../../_dev/scss/tags.scss */
ul.social {
  background: url("../images_temp/social-left-vertical.png") no-repeat;
  height: 162px;
  left: 8px;
  position: absolute;
  top: 12%;
  width: 43px;
  margin-top: 9px;
  z-index: 1;
}
/* line 839, ../../_dev/scss/tags.scss */
.footer.why-moscow-home > section > ul {
  display: table;
  margin: auto;
}
/* line 844, ../../_dev/scss/tags.scss */
#our-works ul.table {
  height: 190px;
  margin: 42px auto;
  width: 940px;
}
/* line 850, ../../_dev/scss/tags.scss */
#you-need ul {
  display: table;
  margin: -12px auto 9px auto;
}
/* line 854, ../../_dev/scss/tags.scss */
#showcase ul {
  margin: 1em auto;
  padding: 0;
  position: absolute;
}
/* line 859, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(1) {
  left: 4%;
  width: 260px;
}
/* line 863, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(2) {
  left: 35.2%;
  width: 350px;
}
/* line 867, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(3) {
  left: 77.7%;
  width: 200px;
}

/* line 1, ../../_dev/scss/classes.scss */
.absolute {
  position: absolute;
}

/* line 7, ../../_dev/scss/classes.scss */
.bg-chess {
  background-image: url("../images_temp/backgrounds/tile-chess.png") !important;
}

/* line 10, ../../_dev/scss/classes.scss */
.bg-orange {
  background-color: #ffa31f;
}

/* line 13, ../../_dev/scss/classes.scss */
.bg-recall {
  background-image: url("../images_temp/recall-me.png");
  background-repeat: no-repeat;
}

/* line 17, ../../_dev/scss/classes.scss */
.bg-white {
  background-color: white;
}

/* line 20, ../../_dev/scss/classes.scss */
.block {
  display: block;
}

/* line 23, ../../_dev/scss/classes.scss */
.centered-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 26, ../../_dev/scss/classes.scss */
.color-dark-deep {
  color: #404040 !important;
}

/* line 29, ../../_dev/scss/classes.scss */
.color-dark-middle {
  color: #655e59 !important;
}

/* line 32, ../../_dev/scss/classes.scss */
.do-it {
  background-color: #832305;
  color: white !important;
}
/* line 35, ../../_dev/scss/classes.scss */
#decoration .do-it, #design .do-it {
  background-image: url("../images_temp/backgrounds/tile-100.png");
}
/* line 38, ../../_dev/scss/classes.scss */
#engineering-systems .do-it {
  background-image: url("../images_temp/backgrounds/tile-top-bottom.png");
}

/* line 43, ../../_dev/scss/classes.scss */
.email::after {
  color: #a64726;
  content: " doma@domalux.ru";
}

/* line 47, ../../_dev/scss/classes.scss */
.float-left {
  float: left;
}

/* line 50, ../../_dev/scss/classes.scss */
.footer {
  background-color: #feda62;
}

/* line 53, ../../_dev/scss/classes.scss */
.half-wide {
  width: 50%;
}

/* line 56, ../../_dev/scss/classes.scss */
.header-big {
  font-family: PlumbMedium !important;
  font-size: 48px !important;
  text-transform: uppercase;
}

/* line 61, ../../_dev/scss/classes.scss */
.header-slim-big {
  font-family: PlumbLight;
  font-size: 36px;
  text-transform: uppercase;
}
/* line 65, ../../_dev/scss/classes.scss */
.do-it .header-slim-big {
  color: white;
}
/* line 68, ../../_dev/scss/classes.scss */
.container .header-slim-big {
  text-align: center;
}

/* line 72, ../../_dev/scss/classes.scss */
.no-overflow {
  overflow: hidden;
}

/* line 75, ../../_dev/scss/classes.scss */
.no-scroll {
  overflow: hidden;
}

/* line 78, ../../_dev/scss/classes.scss */
.relative {
  position: relative !important;
}

/* line 81, ../../_dev/scss/classes.scss */
.slider-bottom {
  overflow: hidden;
}

/* line 84, ../../_dev/scss/classes.scss */
.slides {
  height: 100%;
  margin: auto;
  position: relative;
  width: 963px;
}

/* line 90, ../../_dev/scss/classes.scss */
.table {
  display: table;
}

/* line 93, ../../_dev/scss/classes.scss */
.top {
  background-color: #832305;
}
/* line 94, ../../_dev/scss/classes.scss */
#decoration .top {
  background-image: url("../images_temp/backgrounds/tile-top-ultra-blood.png");
}
/* line 97, ../../_dev/scss/classes.scss */
#engineering-systems .top {
  background-image: url("../images_temp/backgrounds/tile-top.png");
}
/* line 101, ../../_dev/scss/classes.scss */
#design .top {
  background-color: transparent !important;
}

/* line 6, ../../_dev/scss/layout.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 12, ../../_dev/scss/layout.scss */
#index {
  height: 100%;
  position: relative;
}

/* line 18, ../../_dev/scss/layout.scss */
body.no-overflow main,
body.no-overflow footer,
body.no-overflow main > div {
  position: absolute;
}

/* line 22, ../../_dev/scss/layout.scss */
header {
  height: 68px;
  top: 0;
}

/* line 26, ../../_dev/scss/layout.scss */
nav {
  margin: auto;
  width: 948px;
}

/* line 31, ../../_dev/scss/layout.scss */
#index main {
  bottom: 61px;
  top: 68px;
}

/* line 37, ../../_dev/scss/layout.scss */
#level1 {
  bottom: 0;
  height: 423px;
  position: absolute;
  width: 100%;
}

/* line 44, ../../_dev/scss/layout.scss */
footer {
  bottom: 14px;
}

/* line 49, ../../_dev/scss/layout.scss */
header, main, footer {
  width: 100%;
}

/* line 56, ../../_dev/scss/layout.scss */
header + .top.relative {
  top: 68px;
}
/* line 59, ../../_dev/scss/layout.scss */
#engineering-systems .top {
  height: 583px;
}
/* line 62, ../../_dev/scss/layout.scss */
#decoration .top {
  height: 724px;
}

/* line 69, ../../_dev/scss/layout.scss */
.do-it {
  height: 147px;
}

/* line 74, ../../_dev/scss/layout.scss */
.footer {
  height: 600px;
}

/* line 77, ../../_dev/scss/layout.scss */
body:not(.no-overflow) > div > * > *:not(.wide):not(nav) {
  height: 100%;
  margin: auto;
  max-width: 960px;
  overflow: hidden;
  position: static;
}

/* line 3, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li a {
  color: #a64726;
}

/* line 8, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div > aside {
  margin-top: 3px;
}
/* line 11, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(1) > div > aside {
  margin-left: -264px;
  width: 236px;
}

/* line 18, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(3) button.print {
  float: right;
  margin-top: -27px;
}
/* line 24, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) button.attach-file {
  margin-top: -6px;
  margin-bottom: -3px;
}

/* line 31, ../../_dev/scss/header/section/drop-down-menus.scss */
header aside > div {
  color: #933;
  cursor: pointer;
  font-family: PlumbMedium;
  font-size: 1.1rem;
  padding: 14px 18px 13px 18px;
  text-decoration: underline;
}
/* line 39, ../../_dev/scss/header/section/drop-down-menus.scss */
header aside > div:hover, header aside > div.bgActiveCarrot {
  background-color: #bf451e;
  color: white;
}
/* line 45, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div {
  margin: auto;
  width: 948px;
  overflow: auto;
}
/* line 48, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div:not(.centered) {
  width: 899px;
}
/* line 52, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(1) > div {
  padding-left: 264px;
}
/* line 58, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(3) > div > div {
  margin-bottom: 31px;
  margin-top: 21px;
}
/* line 62, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) > div {
  margin-bottom: -9px;
  width: 370px;
}
/* line 65, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) > div.bottom-bg {
  background: url("../images_temp/backgrounds/tile-contacts-dark.png");
  bottom: 0px;
  height: 70px;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}

/* line 78, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form {
  overflow: hidden;
  margin: 0 6px 0;
}

/* line 84, ../../_dev/scss/header/section/drop-down-menus.scss */
header div.menu-container h3 {
  color: #bf451e;
  font-family: PlumbMedium;
}

/* line 90, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section h4 {
  font-family: PlumbLight;
  font-size: 36px;
  margin-bottom: 7px;
  margin-top: -2px;
  text-transform: uppercase;
}
/* line 97, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) h4 {
  color: white;
  text-align: center;
}

/* line 103, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section input {
  color: #5d534e;
}
/* line 107, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section input[type="tel"], header > section input[type="email"], header > section input[type="text"] {
  display: block;
  height: 36px;
  margin-top: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  border: solid 1px #CCC;
  width: 100%;
}
/* line 115, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section input[type=""] {
  border-radius: 20px;
  display: block;
  float: left;
  height: 39px;
  left: 50%;
  margin: 27px auto auto;
  position: relative;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 150px;
}
/* line 129, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) input[type="submit"] {
  background-color: #FFF;
  border: none;
  border-radius: 20px;
  color: #a64726;
  font-size: 17px;
  height: 40px;
  left: 50%;
  margin-top: 27px;
  position: relative;
  transform: translateX(-50%);
  width: 150px;
  z-index: 2;
}
/* line 145, ../../_dev/scss/header/section/drop-down-menus.scss */
form p:nth-child(2) input, form p:nth-child(3) input {
  margin-top: 6px;
}

/* line 150, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li {
  float: left;
  padding-left: 50px;
  padding-right: 20px;
}
/* line 156, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(1) {
  background: url("../images_temp/service-design.png") no-repeat 0 7px;
}
/* line 156, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(2) {
  background: url("../images_temp/service-building.png") no-repeat 0 7px;
}
/* line 156, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(3) {
  background: url("../images_temp/service-facade.png") no-repeat 0 7px;
}
/* line 156, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(4) {
  background: url("../images_temp/service-engineering.png") no-repeat 0 7px;
}
/* line 163, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(1) {
  width: 201px;
}
/* line 163, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(2) {
  width: 241px;
}
/* line 163, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(3) {
  width: 215px;
}
/* line 163, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(4) {
  width: 154px;
}

/* line 171, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p {
  color: white;
  text-transform: uppercase;
}
/* line 175, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(2), header > section form p:nth-child(3) {
  float: left;
  margin-top: 14px;
  width: 50%;
}
/* line 180, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(2) {
  padding-right: 11px;
}
/* line 183, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(3) {
  padding-left: 10px;
}
/* line 186, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(4) {
  float: left;
  margin-top: 15px;
  width: 100%;
}
/* line 192, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div > p {
  width: 450px;
}
/* line 195, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(3) p {
  font-size: 14px;
  line-height: 13px;
}

/* line 201, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section {
  display: none;
  left: 0;
  padding-top: 5px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
}
/* line 210, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section {
  background-color: white;
  border-top: solid 1px #CACACA;
  margin: auto;
  margin-top: 23px;
  padding: 22px 24px 26px;
}
/* line 216, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) {
  background: url("../images_temp/backgrounds/tile-contacts.png");
}

/* line 222, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section textarea {
  display: block;
  height: 85px;
  margin-top: 6px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  border: solid 1px #CCC;
}

/* line 231, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) ul {
  margin-bottom: 4px;
  margin-top: 6px;
  width: 100%;
}

/* line 237, ../../_dev/scss/header/section/drop-down-menus.scss */
#waiting-map {
  background-color: #999;
  border-radius: 20px;
  color: #FFF;
  display: table;
  font-family: Arial;
  padding: 10px 20px;
}

/* line 2, ../../_dev/scss/header/nav/menus.scss */
header ul li a {
  display: block;
  color: #5d534e;
  font-family: PlumbMedium;
  padding: 6px;
  vertical-align: middle;
}

/* line 3, ../../_dev/scss/header/nav/nav.scss */
#consulting a {
  background-image: url("../images_temp/call-consulting.png");
  background-position: 14px;
  background-repeat: no-repeat;
  padding-left: 45px;
  width: 168px;
}

/* line 12, ../../_dev/scss/header/nav/nav.scss */
nav aside {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 15, ../../_dev/scss/header/nav/nav.scss */
nav > div:nth-child(3) aside {
  float: left;
}

/* line 20, ../../_dev/scss/header/nav/nav.scss */
nav > div {
  height: 100%;
}
/* line 35, ../../_dev/scss/mixins.scss */
nav > div:nth-child(1) {
  position: absolute;
}
/* line 38, ../../_dev/scss/mixins.scss */
nav > div:nth-child(2) {
  display: table;
  margin: auto;
}
/* line 42, ../../_dev/scss/mixins.scss */
nav > div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 25, ../../_dev/scss/header/nav/nav.scss */
nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -7px;
  margin-top: -2px;
}

/* line 31, ../../_dev/scss/header/nav/nav.scss */
#consulting {
  text-transform: uppercase;
}

/* line 34, ../../_dev/scss/header/nav/nav.scss */
#logo {
  background: url("../images_temp/logo.png");
  display: block;
  height: 68px;
  width: 114px;
}

/* line 40, ../../_dev/scss/header/nav/nav.scss */
#phone-number {
  font-family: PlumbLight;
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 0 12px;
}

/* line 45, ../../_dev/scss/header/nav/nav.scss */
#top-menu {
  text-transform: uppercase;
}

/* line 2, ../../_dev/scss/header/nav/menus.scss */
header ul li a {
  display: block;
  color: #5d534e;
  font-family: PlumbMedium;
  padding: 6px;
  vertical-align: middle;
}

/* line 4, ../../_dev/scss/header/header.scss */
nav {
  position: relative;
}

/* line 2, ../../_dev/scss/footer/footer.scss */
footer section > div {
  height: 100%;
}
/* line 35, ../../_dev/scss/mixins.scss */
footer section > div:nth-child(1) {
  position: absolute;
}
/* line 38, ../../_dev/scss/mixins.scss */
footer section > div:nth-child(2) {
  display: table;
  margin: auto;
}
/* line 42, ../../_dev/scss/mixins.scss */
footer section > div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 4, ../../_dev/scss/footer/footer.scss */
footer section > div:first-child {
  font-family: PlumbLight;
  font-size: 16px;
  line-height: 18px;
  margin-top: 6px;
  text-align: center;
  width: 193px;
}

/* line 16, ../../_dev/scss/footer/footer.scss */
footer section {
  margin: auto;
  width: 698px;
}

/* line 21, ../../_dev/scss/footer/footer.scss */
#logo-bottom {
  background: url("../images_temp/logo-bottom.png");
  display: block;
  height: 47px;
  width: 109px;
}

/* line 27, ../../_dev/scss/footer/footer.scss */
#phone-number_bottom {
  font-family: PlumbLight;
  font-size: 1.3rem;
  float: right;
  font-size: 1.5rem;
  margin-top: -37px;
  margin-right: 7px;
  position: static;
}

/* line 34, ../../_dev/scss/default.scss */
#achievements {
  margin: auto;
}

/* line 37, ../../_dev/scss/default.scss */
#design {
  background-image: url("../images_temp/backgrounds/tile-design-top-visual.png");
}

/*#drop-down-substrate{
  background-color: #FFF;
  border-top: solid 1px #CACACA;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 28px;
  z-index: -1;
}*/
/* line 51, ../../_dev/scss/default.scss */
#gallery {
  height: 94px;
  line-height: 94px;
  text-align: center;
}

/* line 57, ../../_dev/scss/default.scss */
#pointers-box {
  bottom: 175px;
  position: absolute;
  width: 100%;
}

/* line 62, ../../_dev/scss/default.scss */
#pointers-aside {
  margin: auto;
  width: 948px;
}

/* line 65, ../../_dev/scss/default.scss */
#showcase {
  bottom: 17px;
  height: 112px;
  position: absolute;
  width: 100%;
}

/* line 71, ../../_dev/scss/default.scss */
#slider {
  bottom: 423px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 78, ../../_dev/scss/default.scss */
#you-need {
  margin: auto;
  width: 948px;
  margin-top: -4px;
  text-align: center;
}
