@charset "IBM866";
/* default sass file */
@font-face {
  font-family: 'PlumbLight';
  src: url("../fonts/PlumbLightC.eot");
  src: url("../fonts/PlumbLightC.eot") format("embedded-opentype"), url("../fonts/PlumbLightC.woff2") format("woff2"), url("../fonts/PlumbLightC.woff") format("woff"), url("../fonts/PlumbLightC.ttf") format("truetype"), url("../fonts/PlumbLightC.svg#PlumbLightC") format("svg");
}

@font-face {
  font-family: 'PlumbMedium';
  src: url("../fonts/PlumbMediumC.eot");
  src: url("../fonts/PlumbMediumC.eot") format("embedded-opentype"), url("../fonts/PlumbMediumC.woff2") format("woff2"), url("../fonts/PlumbMediumC.woff") format("woff"), url("../fonts/PlumbMediumC.ttf") format("truetype"), url("../fonts/PlumbMediumC.svg#PlumbMediumC") format("svg");
}

/* line 16, ../../_dev/scss/common-elements.scss */
a,
article,
aside,
body,
footer,
header,
div,
li,
main,
menu,
nav,
p,
section,
span,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../_dev/scss/common-elements.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 2, ../../_dev/scss/tags.scss */
a.btn {
  background-color: #bf451e;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  color: white;
  display: inline-block;
  font-family: PlumbMedium;
  font-size: 0.85rem;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 14, ../../_dev/scss/tags.scss */
ul.social a {
  display: block;
  height: 37px;
  width: 35px;
}
/* line 20, ../../_dev/scss/tags.scss */
#slides aside a.btn {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 12.5px;
  text-align: center;
  width: 128px;
}
/* line 29, ../../_dev/scss/tags.scss */
#you-need ul a {
  color: #bf451e;
  display: block;
  font-family: Arial, Helvetica, Sans Serif;
  font-size: 14px;
  margin-right: 15px;
  padding-left: 66px;
  white-space: normal;
}

/* line 40, ../../_dev/scss/tags.scss */
#pointers-aside > aside {
  background-color: black;
  background-position: center;
  background-position-y: 16px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 52, ../../_dev/scss/tags.scss */
#pointers-aside > aside:nth-child(1) {
  background-image: url("../images_temp/pointer.png");
  float: left;
  margin-left: 18px;
}
/* line 57, ../../_dev/scss/tags.scss */
#pointers-aside > aside:nth-child(2) {
  background-image: url("../images_temp/pointer.png");
  float: right;
  margin-right: 18px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 64, ../../_dev/scss/tags.scss */
#slides aside {
  background: url("../images_temp/backgrounds/tile-microsquare.png");
  height: 135px;
  position: absolute;
  right: 3px;
  top: 0;
  width: 153px;
}

/* line 73, ../../_dev/scss/tags.scss */
body {
  color: #5d534e;
}

/* line 77, ../../_dev/scss/tags.scss */
#showcase > div {
  background: url("../images_temp/backgrounds/tile-100.png") #811d00;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  position: relative;
  margin: auto;
  width: 948px;
}
/* line 86, ../../_dev/scss/tags.scss */
#slider div.img-box {
  background-image: url("../images_temp/slider-main.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: auto;
}
/* line 95, ../../_dev/scss/tags.scss */
#slider ul.social + div {
  background-color: white;
  -moz-border-radius-topright: 11px;
  -webkit-border-top-right-radius: 11px;
  border-top-right-radius: 11px;
  -moz-border-radius-bottomright: 11px;
  -webkit-border-bottom-right-radius: 11px;
  border-bottom-right-radius: 11px;
  height: 162px;
  left: 0;
  position: absolute;
  top: 12%;
  width: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}
/* line 102, ../../_dev/scss/tags.scss */
#you-need ul li > div {
  height: 100%;
}
/* line 105, ../../_dev/scss/tags.scss */
#you-need ul li > div > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 109, ../../_dev/scss/tags.scss */
footer {
  margin-top: 12px !important;
  overflow: hidden;
  position: relative;
}

/* line 114, ../../_dev/scss/tags.scss */
header {
  display: table;
}

/* line 118, ../../_dev/scss/tags.scss */
#slides a:not(:first-child) img {
  margin-left: 9px;
}

/* line 123, ../../_dev/scss/tags.scss */
ul li {
  display: table-cell;
}
/* line 126, ../../_dev/scss/tags.scss */
ul.social li {
  display: block;
  padding: 4px;
}
/* line 130, ../../_dev/scss/tags.scss */
#showcase li {
  color: white;
  display: list-item;
  font-family: PlumbMedium;
  font-size: 13px;
  line-height: 18px;
  list-style-image: url("../images_temp/checked.png");
  min-height: 29px;
  padding-left: 3px;
  text-transform: uppercase;
}
/* line 141, ../../_dev/scss/tags.scss */
#you-need li {
  display: table-cell;
  height: 66px;
  max-width: 250px;
  text-align: left;
}
/* line 150, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(1) {
  background: url("../images_temp/need-design.png") no-repeat;
  background-position: 0 9px;
}
/* line 154, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(2) {
  background: url("../images_temp/need-facade.png") no-repeat;
  padding-left: 13px;
}
/* line 158, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(3) {
  background: url("../images_temp/need-building.png") no-repeat;
  padding-left: 13px;
}
/* line 162, ../../_dev/scss/tags.scss */
#you-need ul > li:nth-child(4) {
  background: url("../images_temp/need-engineering.png") no-repeat;
  background-position: 0 9px;
  width: 167px;
}

/* line 169, ../../_dev/scss/tags.scss */
ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 173, ../../_dev/scss/tags.scss */
ul.social {
  background: url("../images_temp/social-left-vertical.png") no-repeat;
  height: 162px;
  left: 8px;
  position: absolute;
  top: 12%;
  width: 43px;
  margin-top: 9px;
  z-index: 1;
}
/* line 179, ../../_dev/scss/tags.scss */
#you-need ul {
  display: table;
  margin: -12px auto 9px auto;
}

/* line 184, ../../_dev/scss/tags.scss */
p {
  font-family: Arial, Helvetica, Sans Serif;
  font-size: 14px;
}
/* line 188, ../../_dev/scss/tags.scss */
#you-need p.header-slim-big {
  margin-bottom: 32px;
}

/* line 194, ../../_dev/scss/tags.scss */
.container section {
  display: none;
}
/* line 196, ../../_dev/scss/tags.scss */
.container section.visible {
  display: block;
}

/* line 202, ../../_dev/scss/tags.scss */
#showcase ul {
  margin: 1em auto;
  padding: 0;
  position: absolute;
}
/* line 207, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(1) {
  left: 4%;
  width: 260px;
}
/* line 211, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(2) {
  left: 35.2%;
  width: 350px;
}
/* line 215, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(3) {
  left: 77.7%;
  width: 200px;
}

/* line 4, ../../_dev/scss/classes.scss */
.centered-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 7, ../../_dev/scss/classes.scss */
.email::after {
  color: #a64726;
  content: " doma@domalux.ru";
}

/* line 11, ../../_dev/scss/classes.scss */
.float-left {
  float: left;
}

/* line 14, ../../_dev/scss/classes.scss */
.header-slim-big {
  font-family: PlumbLight;
  font-size: 36px;
  text-transform: uppercase;
}

/* line 20, ../../_dev/scss/classes.scss */
.no-scroll {
  overflow: hidden;
}

/* line 6, ../../_dev/scss/layout.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 12, ../../_dev/scss/layout.scss */
#page {
  height: 100%;
  position: relative;
}

/* line 21, ../../_dev/scss/layout.scss */
header,
main,
footer,
main > div {
  position: absolute;
}

/* line 25, ../../_dev/scss/layout.scss */
header {
  height: 68px;
  top: 0;
}

/* line 29, ../../_dev/scss/layout.scss */
nav {
  margin: auto;
  width: 948px;
}

/* line 33, ../../_dev/scss/layout.scss */
main {
  bottom: 61px;
  top: 68px;
}

/* line 38, ../../_dev/scss/layout.scss */
#level1 {
  bottom: 0;
  height: 423px;
  position: absolute;
  width: 100%;
}

/* line 45, ../../_dev/scss/layout.scss */
footer {
  bottom: 14px;
}

/* line 51, ../../_dev/scss/layout.scss */
header, main, footer {
  width: 100%;
}

/*
nav,
main >div:not(.fit),
footer >section{
  margin: auto;
  max-width: 1400px;
  width: $max-with-content;
}*/
/* line 3, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li a {
  color: #a64726;
}

/* line 8, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div > aside {
  margin-top: 3px;
}
/* line 11, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(1) > div > aside {
  margin-left: -264px;
  width: 236px;
}

/* line 16, ../../_dev/scss/header/section/drop-down-menus.scss */
div {
  /*header >section >section:nth-child(1) >div >aside >&{
  }*/
}
/* line 17, ../../_dev/scss/header/section/drop-down-menus.scss */
header aside > div {
  color: #933;
  cursor: pointer;
  font-family: PlumbMedium;
  font-size: 1.1rem;
  padding: 14px 18px 13px 18px;
  text-decoration: underline;
}
/* line 25, ../../_dev/scss/header/section/drop-down-menus.scss */
header aside > div:hover, header aside > div.bgActiveCarrot {
  background-color: #bf451e;
  color: white;
}
/* line 31, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div {
  margin: auto;
  width: 948px;
  overflow: auto;
}
/* line 34, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div:not(.centered) {
  width: 899px;
}
/* line 38, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(1) > div {
  padding-left: 264px;
}
/* line 47, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(3) > div > div {
  margin-bottom: 31px;
  margin-top: 21px;
}
/* line 51, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) > div {
  margin-bottom: -9px;
  width: 370px;
}
/* line 54, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) > div.bottom-bg {
  background: url("../images_temp/backgrounds/tile-contacts-dark.png");
  bottom: 0px;
  height: 70px;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}

/* line 67, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form {
  overflow: hidden;
  margin: 0 6px 0;
}

/* line 73, ../../_dev/scss/header/section/drop-down-menus.scss */
header div.container h3 {
  color: #bf451e;
  font-family: PlumbMedium;
}

/* line 79, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section h4 {
  font-family: PlumbLight;
  font-size: 36px;
  margin-bottom: 7px;
  margin-top: -2px;
  text-transform: uppercase;
}
/* line 86, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) h4 {
  color: white;
  text-align: center;
}

/* line 92, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section input {
  color: #5d534e;
}
/* line 96, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section input[type="tel"], header > section input[type="email"], header > section input[type="text"] {
  display: block;
  height: 36px;
  margin-top: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  border: solid 1px #CCC;
  width: 100%;
}
/* line 104, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section input[type=""] {
  border-radius: 20px;
  display: block;
  float: left;
  height: 39px;
  left: 50%;
  margin: 27px auto auto;
  position: relative;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 150px;
}
/* line 118, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) input[type="submit"] {
  background-color: #FFF;
  border: none;
  border-radius: 20px;
  color: #a64726;
  font-size: 17px;
  height: 40px;
  left: 50%;
  margin-top: 27px;
  position: relative;
  transform: translateX(-50%);
  width: 150px;
  z-index: 2;
}
/* line 134, ../../_dev/scss/header/section/drop-down-menus.scss */
form p:nth-child(2) input, form p:nth-child(3) input {
  margin-top: 6px;
}

/* line 139, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li {
  padding-left: 50px;
}
/* line 143, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(1) {
  background: url("../images_temp/service-design.png") no-repeat 0 7px;
}
/* line 143, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(2) {
  background: url("../images_temp/service-building.png") no-repeat 0 7px;
}
/* line 143, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(3) {
  background: url("../images_temp/service-facade.png") no-repeat 0 7px;
}
/* line 143, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) li:nth-child(4) {
  background: url("../images_temp/service-engineering.png") no-repeat 0 7px;
}

/* line 151, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p {
  color: white;
  text-transform: uppercase;
}
/* line 155, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(2), header > section form p:nth-child(3) {
  float: left;
  margin-top: 14px;
  width: 50%;
}
/* line 160, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(2) {
  padding-right: 11px;
}
/* line 163, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(3) {
  padding-left: 10px;
}
/* line 166, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section form p:nth-child(4) {
  float: left;
  margin-top: 15px;
  width: 100%;
}
/* line 172, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section > div > p {
  width: 450px;
}
/* line 175, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(3) p {
  font-size: 14px;
  line-height: 13px;
}

/* line 181, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section {
  display: none;
  left: 0;
  padding-top: 5px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
}
/* line 190, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section {
  background-color: white;
  border-top: solid 1px #CACACA;
  margin: auto;
  margin-top: 23px;
  padding: 22px 24px 26px;
    /*&:nth-child(1){ // О компании

    }
    &:nth-child(2){ // Услуги

    }
    &:nth-child(3){ // Контакты

    }
    &:nth-child(4){ // Консультация

    }*/
}
/* line 196, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(4) {
  background: url("../images_temp/backgrounds/tile-contacts.png");
}

/* line 214, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section textarea {
  display: block;
  height: 106px;
  margin-top: 6px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  border: solid 1px #CCC;
}

/* line 223, ../../_dev/scss/header/section/drop-down-menus.scss */
header > section > section:nth-child(2) ul {
  width: 90%;
}

/* line 2, ../../_dev/scss/header/nav/menus.scss */
header ul li a {
  display: block;
  color: #5d534e;
  font-family: PlumbMedium;
  padding: 6px;
  vertical-align: middle;
}

/* line 3, ../../_dev/scss/header/nav/nav.scss */
#consulting a {
  background-image: url("../images_temp/call-consulting.png");
  background-position: 14px;
  background-repeat: no-repeat;
  padding-left: 45px;
  width: 168px;
}

/* line 12, ../../_dev/scss/header/nav/nav.scss */
nav aside {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 15, ../../_dev/scss/header/nav/nav.scss */
nav > div:nth-child(3) aside {
  float: left;
}

/* line 20, ../../_dev/scss/header/nav/nav.scss */
nav > div {
  height: 100%;
}
/* line 30, ../../_dev/scss/mixins.scss */
nav > div:nth-child(1) {
  position: absolute;
}
/* line 33, ../../_dev/scss/mixins.scss */
nav > div:nth-child(2) {
  display: table;
  margin: auto;
}
/* line 37, ../../_dev/scss/mixins.scss */
nav > div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 25, ../../_dev/scss/header/nav/nav.scss */
nav ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -7px;
  margin-top: -2px;
}

/* line 31, ../../_dev/scss/header/nav/nav.scss */
#consulting {
  text-transform: uppercase;
}

/* line 34, ../../_dev/scss/header/nav/nav.scss */
#logo {
  background: url("../images_temp/logo.png");
  display: block;
  height: 68px;
  width: 114px;
}

/* line 40, ../../_dev/scss/header/nav/nav.scss */
#phone-number {
  font-family: PlumbLight;
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 0 12px;
}

/* line 45, ../../_dev/scss/header/nav/nav.scss */
#top-menu {
  text-transform: uppercase;
}

/* line 2, ../../_dev/scss/header/nav/menus.scss */
header ul li a {
  display: block;
  color: #5d534e;
  font-family: PlumbMedium;
  padding: 6px;
  vertical-align: middle;
}

/* line 4, ../../_dev/scss/header/header.scss */
nav {
  position: relative;
}

/* line 2, ../../_dev/scss/footer/footer.scss */
footer section > div {
  height: 100%;
}
/* line 30, ../../_dev/scss/mixins.scss */
footer section > div:nth-child(1) {
  position: absolute;
}
/* line 33, ../../_dev/scss/mixins.scss */
footer section > div:nth-child(2) {
  display: table;
  margin: auto;
}
/* line 37, ../../_dev/scss/mixins.scss */
footer section > div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 4, ../../_dev/scss/footer/footer.scss */
footer section > div:first-child {
  font-family: PlumbLight;
  font-size: 16px;
  line-height: 18px;
  margin-top: 6px;
  text-align: center;
  width: 193px;
}

/* line 16, ../../_dev/scss/footer/footer.scss */
footer section {
  margin: auto;
  width: 698px;
}

/* line 21, ../../_dev/scss/footer/footer.scss */
#logo-bottom {
  background: url("../images_temp/logo-bottom.png");
  display: block;
  height: 47px;
  width: 109px;
}

/* line 27, ../../_dev/scss/footer/footer.scss */
#phone-number_bottom {
  font-family: PlumbLight;
  font-size: 1.3rem;
  float: right;
  font-size: 1.5rem;
  margin-top: -37px;
  margin-right: 7px;
  position: static;
}

/* line 33, ../../_dev/scss/default.scss */
#achievements {
  margin: auto;
}

/*#drop-down-substrate{
  background-color: #FFF;
  border-top: solid 1px #CACACA;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 28px;
  z-index: -1;
}*/
/* line 46, ../../_dev/scss/default.scss */
#gallery {
  height: 94px;
  line-height: 94px;
  text-align: center;
}

/* line 52, ../../_dev/scss/default.scss */
#pointers-box {
  bottom: 175px;
  position: absolute;
  width: 100%;
}

/* line 57, ../../_dev/scss/default.scss */
#pointers-aside {
  margin: auto;
  width: 948px;
}

/* line 60, ../../_dev/scss/default.scss */
#showcase {
  bottom: 17px;
  height: 112px;
  position: absolute;
  width: 100%;
}

/* line 66, ../../_dev/scss/default.scss */
#slider {
  bottom: 423px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 73, ../../_dev/scss/default.scss */
#slides {
  height: 100%;
  margin: auto;
  position: relative;
  width: 963px;
}

/* line 79, ../../_dev/scss/default.scss */
#slider-bottom {
  background: url("../images_temp/backgrounds/tile-gallery.png");
  height: 184px;
  margin: -13px auto -12px;
  padding: 20px 0;
}

/* line 85, ../../_dev/scss/default.scss */
#you-need {
  margin: auto;
  width: 948px;
  margin-top: -4px;
  text-align: center;
}
