/* default sass file */
@font-face {
  font-family: 'PlumbLight';
  src: url("../fonts/PlumbLightC.eot");
  src: url("../fonts/PlumbLightC.eot") format("embedded-opentype"), url("../fonts/PlumbLightC.woff2") format("woff2"), url("../fonts/PlumbLightC.woff") format("woff"), url("../fonts/PlumbLightC.ttf") format("truetype"), url("../fonts/PlumbLightC.svg#PlumbLightC") format("svg");
}

@font-face {
  font-family: 'PlumbMedium';
  src: url("../fonts/PlumbMediumC.eot");
  src: url("../fonts/PlumbMediumC.eot") format("embedded-opentype"), url("../fonts/PlumbMediumC.woff2") format("woff2"), url("../fonts/PlumbMediumC.woff") format("woff"), url("../fonts/PlumbMediumC.ttf") format("truetype"), url("../fonts/PlumbMediumC.svg#PlumbMediumC") format("svg");
}

/* line 16, ../../_dev/scss/common-elements.scss */
a,
article,
aside,
body,
footer,
header,
div,
li,
main,
menu,
nav,
p,
section,
span,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../../_dev/scss/common-elements.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 24, ../../_dev/scss/common-elements.scss */
#top-menu,
#consulting {
  text-transform: uppercase;
}

/* line 2, ../../_dev/scss/tags.scss */
#slider aside {
  background-color: black;
  background-position: center;
  background-position-y: 16px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: 173px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 15, ../../_dev/scss/tags.scss */
#slider aside:nth-child(1) {
  background-image: url("../images_temp/pointer.png");
  float: left;
  margin-left: 14.4%;
}
/* line 20, ../../_dev/scss/tags.scss */
#slider aside:nth-child(2) {
  background-image: url("../images_temp/pointer.png");
  float: right;
  margin-right: 14.4%;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 28, ../../_dev/scss/tags.scss */
header {
  display: table;
}

/* line 32, ../../_dev/scss/tags.scss */
menu li {
  display: table-cell;
  white-space: nowrap;
}
/* line 36, ../../_dev/scss/tags.scss */
#showcase li {
  color: white;
  font-family: PlumbMedium;
  font-size: 13px;
  line-height: 18px;
  list-style-image: url("../images_temp/checked.png");
  min-height: 29px;
  padding-left: 3px;
  text-transform: uppercase;
}

/* line 47, ../../_dev/scss/tags.scss */
menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 53, ../../_dev/scss/tags.scss */
#showcase ul {
  float: left;
  margin-top: 16px;
  padding: 0;
}
/* line 57, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(1) {
  margin-left: -60px;
  width: 260px;
}
/* line 61, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(2) {
  margin-left: 36px;
  width: 350px;
}
/* line 65, ../../_dev/scss/tags.scss */
#showcase ul:nth-child(3) {
  margin-right: -90px;
  margin-left: 54px;
  width: 200px;
}

/* line 1, ../../_dev/scss/classes.scss */
.centered-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 4, ../../_dev/scss/classes.scss */
.no-scroll {
  overflow: hidden;
}

/* line 1, ../../_dev/scss/layout.scss */
header, main, footer {
  margin: auto;
  max-width: 1400px;
}

/* line 2, ../../_dev/scss/header/nav/menu.scss */
header menu li a {
  display: block;
  color: #5d534e;
  font-family: PlumbMedium;
  padding: 6px;
  vertical-align: middle;
}

/* line 3, ../../_dev/scss/header/nav/nav.scss */
#consulting a {
  background-color: #bf451e;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  color: white;
  display: inline-block;
  font-family: PlumbMedium;
  font-size: 0.85rem;
  height: 38px;
  line-height: 38px;
  padding-left: 45px;
  text-decoration: none;
  width: 168px;
}

/* line 19, ../../_dev/scss/header/nav/nav.scss */
nav aside {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 22, ../../_dev/scss/header/nav/nav.scss */
nav > div:nth-child(3) aside {
  float: left;
}

/* line 27, ../../_dev/scss/header/nav/nav.scss */
nav > div {
  height: 100%;
}
/* line 29, ../../_dev/scss/header/nav/nav.scss */
nav > div:nth-child(1) {
  position: absolute;
}
/* line 32, ../../_dev/scss/header/nav/nav.scss */
nav > div:nth-child(2) {
  display: table;
  margin: auto;
}
/* line 36, ../../_dev/scss/header/nav/nav.scss */
nav > div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 44, ../../_dev/scss/header/nav/nav.scss */
nav menu {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -8px;
}

/* line 49, ../../_dev/scss/header/nav/nav.scss */
#consulting {
  /*margin-left: 8px;
  margin-right: -8px;*/
}

/* line 53, ../../_dev/scss/header/nav/nav.scss */
#logo {
  background: url("../images_temp/logo.png");
  display: block;
  height: 68px;
  width: 114px;
}

/* line 59, ../../_dev/scss/header/nav/nav.scss */
#phone-number {
  font-family: PlumbLight;
  font-size: 1.3rem;
  margin-right: 10px;
  padding: 0 12px;
}

/* line 2, ../../_dev/scss/header/nav/menu.scss */
header menu li a {
  display: block;
  color: #5d534e;
  font-family: PlumbMedium;
  padding: 6px;
  vertical-align: middle;
}

/* line 3, ../../_dev/scss/header/header.scss */
nav {
  position: relative;
  width: 958px;
}

/* line 33, ../../_dev/scss/default.scss */
#showcase {
  background-color: #811d00;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  height: 112px;
  margin: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
  transform: translateY(300px);
  width: 948px;
}

/* line 42, ../../_dev/scss/default.scss */
#slider {
  background: url("../images_temp/slider-main.jpg") no-repeat center;
  height: 430px;
}

/* line 46, ../../_dev/scss/default.scss */
#you-need {
  color: #5d534e;
  font-family: PlumbLight;
  font-size: 36px;
  height: 98px;
  line-height: 96px;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}
