.bgActiveCarrot{
  //background-color: $background-carrot-dark;
}
.bg-orange{
  background-color: $background-orange;
}
.bg-recall{
  background: url($images_dir + 'recall-me.png') no-repeat;
}
.centered-vertical{
  @include centered-vertical;
}
.contact{
  background-color: $background-brown-dark;
}
.email::after{
  color: $color-carrot;
  content:" doma@domalux.ru";
}
.float-left{
  float: left;
}
.footer{
  background-color: $background-sand;
}
.header-slim-big{
  font-family: PlumbLight;
  font-size: 36px;
  text-transform: uppercase;
}
.no-overflow{
  overflow: hidden;
}
.no-scroll{
  overflow: hidden;
}
.recall-me{
  color: white !important;
}
.top{
  background-color: $background-brown-dark;
}