.bgActiveCarrot{
  //background-color: $background-carrot-dark;
}
.bg-orange{
  background-color: $background-orange;
}
.bg-recall{
  background-image: url($images_dir + 'recall-me.png');
  background-repeat:  no-repeat;
}
.centered-vertical{
  @include centered-vertical;
}
.do-it{
  background-color: $background-brown-dark;
  background-image: url($images_dir + 'backgrounds/tile-engineering-bottom.png');
}
.email::after{
  color: $color-carrot;
  content:" doma@domalux.ru";
}
.float-left{
  float: left;
}
.footer{
  background-color: $background-sand;
}
.half-wide{
  width: 50%;
}
.header-big{
  font-family: PlumbMedium !important;
  font-size: 48px !important;
  text-transform: uppercase;
}
.header-slim-big{
  font-family: PlumbLight;
  font-size: 36px;
  text-transform: uppercase;
  .do-it &{
    color: white;
  }
  .container &{
    text-align: center;
  }
}
.no-overflow{
  overflow: hidden;
}
.no-scroll{
  overflow: hidden;
}
.do-it {
  color: white !important;
}
.top{
  background-image: url($images_dir + 'backgrounds/tile-engineering.png');
  background-color: $background-brown-dark;
}