.bgActiveCarrot{
  //background-color: $background-carrot-dark;
}
.centered-vertical{
  @include centered-vertical;
}
.email::after{
  color: $color-carrot;
  content:" doma@domalux.ru";
}
.float-left{
  float: left;
}
.header-slim-big{
  //color: $color-dark-common;
  font-family: PlumbLight;
  font-size: 36px;
  text-transform: uppercase;
}
.no-scroll{
  overflow: hidden;
}