aside{
  #slider &{
    $offset:14.4%;
    $space:80px;
    background-color: black;
    background-position: center;
    background-position-y: 16px;
    background-repeat: no-repeat;
    @include border-radius(50%);
    height: $space;
    width: $space;
    margin-top: 173px;
    @include opacity(0.5);
    $url:$images_dir + "pointer.png";
    &:nth-child(1){
      background-image: url($url);
      float: left;
      margin-left: $offset;
    }
    &:nth-child(2){
      background-image: url($url);
      float: right;
      margin-right: $offset;
      @include transform(scaleX(-1));
    }
  }
}
header{
  display: table;
  margin-bottom: -16px !important;
}
li{
  menu &{
    display: table-cell;
    white-space: nowrap;
  }
}
menu{
  display: inline-block;
  margin: 0;
  padding: 0;
}