a,
article,
aside,
body,
footer,
header,
div,
li,
main,
menu,
nav,
p,
section,
span,
ul
{
  @include box-sizing(border-box);
}
body,html{
  margin: 0;
  padding: 0;
}
img{
  border:none;
}

/*
body:not(.no-overflow) {
  main{
    @media (max-width:$resolution-tablet768){
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width:$resolution-phone){
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}*/
