@charset "UTF-8";
/* default sass file */
// FONTS ----------------------------
@font-face {
  font-family: 'PlumbLight';
  src: url('../fonts/PlumbLightC.eot');
  src: url('../fonts/PlumbLightC.eot') format('embedded-opentype'),
  url('../fonts/PlumbLightC.woff2') format('woff2'),
  url('../fonts/PlumbLightC.woff') format('woff'),
  url('../fonts/PlumbLightC.ttf') format('truetype'),
  url('../fonts/PlumbLightC.svg#PlumbLightC') format('svg');
}
@font-face {
  font-family: 'PlumbMedium';
  src: url('../fonts/PlumbMediumC.eot');
  src: url('../fonts/PlumbMediumC.eot') format('embedded-opentype'),
  url('../fonts/PlumbMediumC.woff2') format('woff2'),
  url('../fonts/PlumbMediumC.woff') format('woff'),
  url('../fonts/PlumbMediumC.ttf') format('truetype'),
  url('../fonts/PlumbMediumC.svg#PlumbMediumC') format('svg');
}
// END FONTS ------------------------
@import "compass";
@import "common-elements";
@import "variables";
@import "mixins";
@import "tags";
@import "classes";
@import "layout";
@import "header/header";
@import "main/main";
@import "footer/footer";
//------------------------------------
@import "_design";
@import "_decoration";
//------------------------------------
#achievements{
  margin: auto;
}
#design{
  background-image: url($images_dir + 'backgrounds/tile-design-top-visual.png');
}

/*#drop-down-substrate{
  background-color: #FFF;
  border-top: solid 1px #CACACA;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 28px;
  z-index: -1;
}*/
#gallery{
  $h:94px;
  height: $h;
  line-height: $h;
  text-align: center;
}
#pointers-box{
  bottom:175px;
  position: absolute;
  width: 100%;
}
#pointers-aside{
  @include centred-margins;
}
#showcase{
  bottom: 17px;
  height: 112px;
  position: absolute;
  width: 100%;
}
#slider{ // Высота будет изменяться динамически
  bottom: $level1Height;
  overflow: hidden;
  position: absolute;
  top:0;
  width: 100%;
}
#you-need {
  @include centred-margins;
  margin-top: -4px;
  text-align: center;
}
