/* default sass file */
// FONTS ----------------------------
@font-face {
  font-family: 'PlumbLight';
  src: url('../fonts/PlumbLightC.eot');
  src: url('../fonts/PlumbLightC.eot') format('embedded-opentype'),
  url('../fonts/PlumbLightC.woff2') format('woff2'),
  url('../fonts/PlumbLightC.woff') format('woff'),
  url('../fonts/PlumbLightC.ttf') format('truetype'),
  url('../fonts/PlumbLightC.svg#PlumbLightC') format('svg');
}
@font-face {
  font-family: 'PlumbMedium';
  src: url('../fonts/PlumbMediumC.eot');
  src: url('../fonts/PlumbMediumC.eot') format('embedded-opentype'),
  url('../fonts/PlumbMediumC.woff2') format('woff2'),
  url('../fonts/PlumbMediumC.woff') format('woff'),
  url('../fonts/PlumbMediumC.ttf') format('truetype'),
  url('../fonts/PlumbMediumC.svg#PlumbMediumC') format('svg');
}
// END FONTS ------------------------
@import "compass";
@import "common-elements";
@import "variables";
@import "mixins";
@import "tags";
@import "classes";
@import "layout";
@import "header/header";
@import "main/main";
@import "footer/footer";

$max-with-showcase: 948px;
#showcase{
  background-color: #811d00;
  @include border-radius(8px);
  height: 112px;
  margin: auto;
  @include opacity(0.7);
  @include transform(translateY(300px));
  width: $max-with-showcase;
}
#slider{
  background: url($images_dir + 'slider-main.jpg') no-repeat center;
  height: 430px;
}
#you-need {
  line-height: 33px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  max-width: $max-with-showcase;
}
