@charset "UTF-8";
/* default sass file */
// FONTS ----------------------------
@font-face {
  font-family: 'PlumbLight';
  src: url('../fonts/PlumbLightC.eot');
  src: url('../fonts/PlumbLightC.eot') format('embedded-opentype'),
  url('../fonts/PlumbLightC.woff2') format('woff2'),
  url('../fonts/PlumbLightC.woff') format('woff'),
  url('../fonts/PlumbLightC.ttf') format('truetype'),
  url('../fonts/PlumbLightC.svg#PlumbLightC') format('svg');
}
@font-face {
  font-family: 'PlumbMedium';
  src: url('../fonts/PlumbMediumC.eot');
  src: url('../fonts/PlumbMediumC.eot') format('embedded-opentype'),
  url('../fonts/PlumbMediumC.woff2') format('woff2'),
  url('../fonts/PlumbMediumC.woff') format('woff'),
  url('../fonts/PlumbMediumC.ttf') format('truetype'),
  url('../fonts/PlumbMediumC.svg#PlumbMediumC') format('svg');
}
// END FONTS ------------------------
@import "compass";
@import "common-elements";
@import "variables";
@import "mixins";
@import "tags";
@import "classes";
@import "layout";
@import "header/header";
@import "main/main";
@import "footer/footer";
//------------------------------------
@import "_design";
@import "_decoration";
@import "_engineering";
@import "_facade";
//------------------------------------
@import "parallax";
//------------------------------------
@import "slider/slider";
//------------------------------------
@import "extensions/sigplus";
//------------------------------------
#achievements{
  margin: auto;
}
#ask-us{
  position: relative;
}
#content-box{
  background-color: #B3B3B3;
  display: table;
  min-height: 80px;
  min-width: 80px;
  left: 50%;
  padding: 40px;
  position: absolute;
  @include transform(translate(-50%));
  top: 45%;
}
#curtain{
  background-color: #000000;
  display: none;
  @include opacity(0.7);
  z-index: 10;
}
#design{
  background-image: url($images_dir + 'backgrounds/tile-design-top-visual.png');
}
#gallery{
  $h:94px;
  height: $h;
  line-height: $h;
  text-align: center;
}
input[name="attach-file"]{
  //background: yellow;
  border-radius: 6px;
  bottom: 60px;
  color:wheat;
  height: 31px;
  left: 88px;
  position: absolute;
  width: 174px;
  z-index: -1;
}
#pointers-box{
  bottom:175px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
#pointers-aside{
  @include centred-margins;
}
#shell{
  z-index: 11;
}
#showcase{
  bottom: 17px;
  height: 112px;
  position: absolute;
  width: 100%;
}
#slider{ // Высота будет изменяться динамически
  bottom: $level1Height;
  overflow: hidden;
  position: absolute;
  top:0;
  width: 100%;
}
#you-need {
  @include centred-margins;
  margin-top: -4px;
  text-align: center;
}
