/** Проектирование зданий и помещений
  Design
  -уровень
  -чертеж
  -линейка */
/** Общестроительные работы
  Decoration
  -каска
  -кирпич
  -мастерок
  -кисточка */
/** Кровельные работы
  Facade
  -банка краски
  -ролик
  -кусок шифера
  -кусок плитки */
/** Инженерные системы
  Engineering
  -карандаш
  -разводной ключ
  -труба
  -кабель */
.parallax {
  position: absolute;
  z-index: 10;
}
#fixed1{
  left: 40px;
  top: 0;
}
#fixed2{
  right: 20px;
  top: 400px;
}