/** Проектирование зданий и помещений - 3
  Design
  -уровень
  -чертеж
  -линейка */
/** Общестроительные работы -4
  Decoration
  -каска
  -кирпич
  -мастерок
  -кисточка */
/** Кровельные работы - 4
  Facade
  -банка краски
  -ролик
  -кусок шифера
  -кусок плитки */
/** Инженерные системы - 4
  Engineering
  -карандаш
  -разводной ключ
  -труба
  -кабель */
.parallax {
  position: absolute;
  z-index: 10;
}
#para1{
  #design &{
    left: 40px;
    top: 0;
  }
  #decoration &{
    left: 40px;
    top: 0;
  }
  #facade &{
    left: 40px;
    top: 0;
  }
  #engineering-systems &{
    left: 40px;
    top: 0;
  }
}
#para2{
  #design &{
    left: 40px;
    top: 0;
  }
  #decoration &{
    left: 40px;
    top: 0;
  }
  #facade &{
    left: 40px;
    top: 0;
  }
  #engineering-systems &{
    left: 40px;
    top: 0;
  }
}
#para3{
  #design &{
    left: 40px;
    top: 0;
  }
  #decoration &{
    left: 40px;
    top: 0;
  }
  #facade &{
    left: 40px;
    top: 0;
  }
  #engineering-systems &{
    left: 40px;
    top: 0;
  }
}
#para4{
  #decoration &{
    left: 40px;
    top: 0;
  }
  #facade &{
    left: 40px;
    top: 0;
  }
  #engineering-systems &{
    left: 40px;
    top: 0;
  }
}