@charset "UTF-8";
a{
  &.btn{
    background-color:  $background-carrot-dark;
    @include border-radius(16px);
    color: white;
    display: inline-block;
    font-family: PlumbMedium;
    font-size: 0.85rem;
    height: $btn-height;
    line-height: $btn-height;
    text-decoration: none;
    text-transform: uppercase;
  }
  ul.social &{
    display: block;
    height: 37px;
    width: 35px;
  }
  .footer.why-moscow-home div.float-left:first-child &{
    border-right: solid 1px;
    display: inline-block;
    margin-bottom: 6px;
    @include paragraph-dark;
    padding: 0 5px;
    text-decoration: none;
    &.start{
      padding-left: 0;
    }
    &.finish{
      border-right: none;
    }
  }
  .slides aside &{
    &.btn{
      $w:128px;
      display: block;
      @include centered-vertical;
      margin-left: ($img-slide-single-width - $w)/2;
      text-align: center;
      width: $w;
    }
  }
  #decoration .slides >div.float-left &{
    display: block;
    font-size: 0;
  }
  #decoration .slides >div.float-left:first-child &{
    height: 100%;
    width: 476px;
  }
  #decoration .slides >div.float-left:last-child &{
    //background-color: orange;
    float: left;
    height: 134px;
    margin-bottom: 9px;
    margin-right: 8.5px;
    width: 153px;
    &:nth-child(3),
    &:nth-child(6){
      margin-right: 0;
    }
  }
  #our-works &.btn,
  #engineering-systems &.btn{
    @include btn-zoom;
  }
  #our-works ul.table &{
    color: $color-carrot-light;
    font-family: PlumbMedium;
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top:140px;
    @include centered-horizontal(absolute);
    &:hover{
      text-decoration: underline;
    }
  }
  #you-need ul &{
    color: $background-carrot-dark;
    display: block;
    font-family: $font-second;
    font-size: 14px;
    margin-right: 15px;
    padding-left: 66px;
    white-space: normal;
  }
}
aside{
  #decoration .content .contents div &{
    background-image: url($images_dir + 'backgrounds/tile-100.png');
    @include border-radius(50%);
    float: left;
    $s:120px;
    height: $s;
    margin-left: -157px;
    margin-top: -60px;
    width: $s;
  }
  #design .wide >&{
    background: white;
  }
  #design #work-examples >&{
    margin-bottom: 41px;
    margin-top: 73px;
  }
$i:2;
@each $top in 69,51,57,62,57,52,58 {
  #decoration .content .contents >div:nth-child(#{$i}) &{
    margin-top: #{-$top}px;
  }
  $i:$i+1;
}
  #engineering-systems .content &{
      margin-bottom: 67px;
  }
  .footer.why-moscow-home >section >&{
    margin: 21px auto auto;
    overflow: hidden;
    width: 94%;
  }
  #pointers-aside >&{
    $space:80px;
    background-color: black;
    background-position: center;
    background-position-y: 16px;
    background-repeat: no-repeat;
    @include border-radius(50%);
    height: $space;
    width: $space;
    @include opacity(0.5);
    $url:$images_dir + "pointer.png";
    $offset:18px;
    &:nth-child(1){
      background-image: url($url);
      float: left;
      margin-left: $offset;
    }
    &:nth-child(2){
      background-image: url($url);
      float: right;
      margin-right: $offset;
      @include transform(scaleX(-1));
    }
  }
  .slides &{
    background:url($images_dir + 'backgrounds/tile-microsquare.png');
    height: 135px;
    position: absolute;
    right: 3px;
    top: 20px;
    width: $img-slide-single-width;
  }
}
body{
  color: $color-dark-common;
}
button{
  &.attach-file, &.print{
    height: 31px;
    color: $color-carrot;
    font-size: 13px;
  }
  &.attach-file{
    background: url($images_dir + 'attach-file.png') #FFF no-repeat 10px 4px;
    border:none;
    border-radius: 10px;
    padding-left: 26px;
    text-transform: uppercase;
    width: 175px;
  }
  &.bg-recall{ // связан со следующим
    background-position: 14px 11px;
  }

  #design .content &{
    &.btn-more{
      background-color: $background-smoke-white;
      border: $border-btn;
      border-radius: 5px;
      display: table;
      height: 28px;
      margin-top: -17px;
      width: 90px;
    }
  }
  &.btn-more::before{
    content: "Подробнее";
  }
  .do-it &{ // связан с предыдущим
    border: none;
    @include border-radius(20px);
    color: #FFF;
    float: right;
    font-family: PlumbMedium;
    font-size: 14px;
    height: 38px;
    margin-left: 16px;
    padding-left: 29px;
    text-transform: uppercase;
    width: 180px;
  }
  &.print{
    background: url($images_dir + 'print.png') #FFF no-repeat 13px 9px;
    border: $border-btn;
    border-radius: 5px;
    padding-left: 41px;
    width: 175px;
  }
}
div{
  .do-it &{
    &.phone-number{
      float: left;
      font-family: PlumbMedium;
      font-size: 36px;
      margin-right: 2px;
      margin-left: 32px;
    }
  }
  .footer.why-moscow-home >section >aside >&{
    &:first-child{
      padding-right: 30px;
    }
    &:last-child{
      padding-left: 59px;
    }
  }
  .slider-bottom &{
    background: url($images_dir + "backgrounds/tile-gallery.png");
    height: 184px;
    margin: -13px auto -12px;
    padding: 20px 0;
  }
  #after-stone >&{
    margin: auto;
    width: $max-width-container;
  }
  #decoration &.slider-bottom{
    height: 376px;
  }
  #decoration .top &.relative{
    background-image: url($images_dir + 'decoration/decoration-top.png');
    background-repeat: no-repeat;
    background-position: 85px 232px;
  }
  #decoration .content .contents >&{
    height: 222px;
    &:nth-child(1){
      height: 193px;
    }
    &:nth-child(even){
      background-image: url($images_dir + 'backgrounds/tile-contents-grey-light.png');
    }
    &:nth-child(odd):not(1){
      background-image: url($images_dir + 'backgrounds/tile-contents-dark.png');
    }
  }
  #decoration .content .contents >div >&{
    font: 17px/20px $font-second;
    margin: auto;
    padding-left: 160px;
    padding-top: 60px;
    width: $max-width-container;

  }
  #design #our-works >&{
    &:nth-child(1){
      padding-top: 26px;
    }
    &:nth-child(2){
      background: $background-smoke-white;
      padding-top: 84px;
    }
    &:nth-child(3){
      background: $background-smoke-white;
      padding-bottom: 64px;
      padding-top: 40px;
    }
  }
  #our-works &.gallery-next.header-slim-big{
    height: 52px;
  }
  #design #style-classic +&{
    padding-bottom: 28px;
  }
  #design #style-modern +&{
    padding-bottom: 54px;
  }
  #design .slider-bottom &{
    background: $background-smoke-white;
  }
  $i:2;
@each $top in 80,102,88,92,87,102,88{
  #decoration .content .contents >div:nth-child(#{$i}) >&{
      padding-top: #{$top}px;
  }
  $i:$i+1;
}

  #decoration .slides &.float-left{
    background-repeat: no-repeat;
    height: 280px;
    width: 50%;
    &:nth-child(1){
      background-image: url($images_dir + 'decoration/exmpl-big.jpg');
    }
    &:nth-child(2){
      background-image: url($images_dir + 'decoration/exmpls-right.jpg');
    }
  }
  #design &{
    &.top.relative{
      background-image: url($images_dir + 'design/top-visual-bg.jpg');
      background-repeat: no-repeat;
      background-position: 71% 0;
      @include box-shadow(0 5px 5px 0 rgba(0, 0, 0, 0.12) inset);
    }
    &.top-container{
      height: 659px;
    }
  }
  // чиста для подстраховки
  #design .top.relative +&.do-it{
    position: relative;
  }
  #design .content .wide >&{
    margin: auto;
    padding-right: 410px;
    position: relative;
    width: $max-width-container;
  }

  #design .content .wide:nth-child(2) >&{
    padding-right: 310px;
  }
  #design .content .wide:nth-child(4) >&{
    padding-right: 260px;
  }
  #design .content .wide:nth-child(5) >&{
    padding-right: 350px;
  }
  #design .content .wide >div >&{
    &:last-child{
      //background-color: lavender;
      background-repeat: no-repeat;
      height: 425px;
      position: absolute;
      left: 545px;
      top:0;
      width: 475px;
    }
  }
  #design .content .wide:nth-child(1) >div >&:last-child{
    background-image: url($images_dir + 'design/architectural-design.png');
    background-position: 2px 70px;
  }
  #design .content .wide:nth-child(2) >div >&:last-child{
    background-image: url($images_dir + 'design/projecting-outer.png');
    background-position: 113px 28px;
  }
  #design .content .wide:nth-child(3) >div >&:last-child{
    background-image: url($images_dir + 'design/projecting-inner.png');
    background-position: 50px 0;
  }
  #design .content .wide:nth-child(4) >div >&:last-child{
    background-image: url($images_dir + 'design/electrical-systems.png');
    background-position: 74px 53px;
  }
  #design .content .wide:nth-child(5) >div >&:last-child{
    background-image: url($images_dir + 'design/projecting-bassein.png');
    background-position: 29px 7px;
  }
  // контейнер для заголовка и текста
  #design #visual-bottom >.relative >&.relative{
    height: 290px;
    padding-left: 40px;
    padding-right: 40px;
    @include transform(translateY(83px));
    width: 845px;
    //height: 100%;
  }
  // подложики под заголовок и текст
  #design #visual-bottom >.relative >.relative >&.absolute{
    width: 100%;
    z-index: -1;
    $height:115px;
    $offset:8px;
    &:nth-child(3){
      background-color: white;
      @include border-radius(6px 6px 0 0);
      height: $height;
      @include opacity(.91);
      top:-($offset);
    }
    &:nth-child(4){
      background-color: #a64726;
      @include border-radius(0 0 6px 6px);
      @include opacity(.8);
      bottom: $offset;
      top: $height - $offset;
    }
  }
  #design &#frame{
    background: url($images_dir + 'design/frame.png') no-repeat;
    height: 282px;
    position: absolute;
    top: 35px;
    right: 1.2%;
    width: 272px;
  }
  #design &#lamp{
    background: url($images_dir + 'design/lamp.png') no-repeat;
    height: 219px;
    position: absolute;
    right: 23%;
    top: -14px;
    width: 118px;
  }
  #design &#sofa{
    background: url($images_dir + 'design/sofa.png') no-repeat;
    height: 156px;
    position: absolute;
    right: 7%;
    top: 333px;
    width: 282px;
  }
  #engineering-systems .content >section >&{
    position: absolute;
  }
  #engineering-systems .content >section:nth-child(1) >&{
    top: 84px;
  }
  #engineering-systems .content >section:nth-child(2) >&{
    top: 84px;
  }
  #engineering-systems .content >section:nth-child(3) >&{
    top: 55px;
  }
  #engineering-systems .top >&{
    background: url($images_dir + 'top-engineering.gif') no-repeat 97.1% 89px;
    padding-left: 50px;
    padding-right: 485px;
    padding-top: 84px;
  }
  #facade .top >&{
    height: 530px;
  }
  #facade .top >div >&{
    background-color: #FFF;
    @include border-radius(6px);
    box-sizing: border-box;
    height: 170px;
    margin: auto;
    @include opacity(0.89);
    padding: 20px;
    @include transform(translateY(98px));
    width: 714px;
  }
  #facade-work >&.relative{
    height: 363px;
    margin: auto;
    padding: 16px;
    top: 112px;
    width: 512px;
    z-index: 1;
  }
  #facade-work &.substrate{
    background: #000;
    @include border-radius(6px);
    @include opacity(0.1);
    position: absolute;
    top:0; right:0; bottom: 0; left: 0;
    z-index: -1;
  }
  #showcase >&{
    background: url($images_dir + 'backgrounds/tile-100.png') #811d00;
    @include border-radius(8px);
    height: 100%;
    @include opacity(0.9);
    position: relative;
    @include centred-margins;
  }
  #slider &{
    &.img-box{
      background-image: url($images_dir + 'slider-main.jpg');
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: auto;
    }
  }
  #slider ul.social +&{
    background-color: white;
    @include border-top-right-radius(11px);
    @include border-bottom-right-radius(11px);
    @include menu-social-right();
    @include opacity(.65);
  }
  #you-need ul li >&{
    height: 100%;
  }
  #you-need ul li >div >&{
    @include centered-vertical;
  }
}
footer{
  &.index{
    margin-top: 12px !important;
    overflow: hidden;
    position: absolute;
  }
}
h1{
  .top &{
    color:white;
    font-weight: normal;
    margin-bottom: 36px;
  }
  #decoration .top &{
    display: table;
    margin: auto;
    text-align: center;
    &:first-child{
      margin-bottom: 7px;
      margin-top: 71px;
    }
  }
  #decoration .content >section:first-child >&:first-child{
    font-weight: 100;
    margin: 58px auto 22px;
    text-align: center;
  }
  #design .top.relative &{
    line-height: 61px;
    margin: 44px auto auto;
    text-align: center;
    width: 650px;
  }
  #facade .top &{
    font: 72px/77px PlumbMedium !important;
    color: white;
    margin: auto;
    position: relative;
    text-align: center;
    @include text-shadow(2px 2px 2px #999);
    top: 51px;
    width: 500px;
  }
  #facade-work &.header-big{
    color: white;
    font: 48px PlumbMedium;
    margin: 0;
    text-align: center;
  }
}
h2{
  #design .content &{
    color: $color-dark-common;
    font: 48px/50px PlumbLight;
    font-weight: 100;
    margin: 63px auto 37px;
  }
  #design .content section:nth-child(1) &{
    margin-top: 0;
  }
  #design .content section:nth-child(2) &{
    margin-bottom: 26px;
    margin-top: 51px;
    padding-right: 100px;
  }
  #design .content section:nth-child(3) &{
    margin-bottom: 26px;
    margin-top: 53px;
    padding-right: 80px;
  }
  #design .content section:nth-child(4) &{
    margin-top: 52px;
  }
  #design .content section:nth-child(5) &{
    margin-top: 52px;
    padding-right: 50px;
  }
  #design .content section:nth-child(6) &{
    padding-bottom: 41px;
    padding-top: 73px;
  }
  #design #visual-bottom &.header-big{
    color:$color-carrot;
    font-weight: 100;
    height: 107px;
    line-height: 49px;
    margin-bottom: 0;
    //margin-left: 40px;
    //margin-right: -40px;
    margin-top: 8px;
    text-align: center;
    @include transform(translateX(40px));
  }
  #engineering-systems .content &{
    color: $color-dark-common;
    font-family: $font-second;
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 14px;
    margin-right: -4px;
    margin-top: 0;
  }
}
h3{
  .footer &{
    color: $color-dark-deep2;
    font-family: PlumbMedium;
    font-size: 36px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}
header{
  background-color: white;
  display: table;
}
img{
  .slides a:not(:first-child) &{
    margin-left:$img-slide-offset;
  }
}
li{
  ul &{
    display: table-cell;
  }
  ul.social &{
    display: block;
    padding:4px;
  }
  #our-works ul.table &{
    background: url($images_dir + 'design/40specs.jpg') no-repeat;
    position: relative;
    $i:1;
    @each $posX in 22,-168,-354,-538,-728{
      &:nth-child(#{$i}){
        background-position: #{$posX}px 0;
      }
      $i:$i+1;
    }
  }
  #engineering-systems .content &{
    display: block;
    @include paragraph-dark;
    margin-bottom: 16px;
  }
  .footer.why-moscow-home ul &{
    background-repeat: no-repeat;
    background-position: center 0;
    display: table-cell;
    @include paragraph-dark(18px);
    padding-top: 72px;
    text-align: center;
    width: 20%;
    $i:1;
    $img-subdir: $images_dir + 'engineering/';
    @each $img in 1,2,3,4,5{
      &:nth-child(#{$i}){
        background-image: url($images_dir + 'footer' + $img + '.png');
      }
      $i:$i+1;
    }
  }
  #showcase &{
    color: white;
    display: list-item;
    font-family: PlumbMedium;
    font-size: 13px;
    line-height: 18px;
    list-style-image: url($images_dir + "checked.png");
    min-height: 29px;
    padding-left: 3px;
    text-transform: uppercase;
  }
  #you-need &{
    display: table-cell;
    height: 66px;
    max-width: 250px;
    text-align: left;
  }
  $bg-pos-edges: 0 9px;
  $pad-left: 13px;
  #you-need ul >&{
    &:nth-child(1){
      background: url($images_dir + 'need-design.png') no-repeat;
      background-position: $bg-pos-edges;
    }
    &:nth-child(2){
      background: url($images_dir + 'need-facade.png') no-repeat;
      padding-left:$pad-left;
    }
    &:nth-child(3){
      background: url($images_dir + 'need-building.png') no-repeat;
      padding-left:$pad-left;
    }
    &:nth-child(4){
      background: url($images_dir + 'need-engineering.png') no-repeat;
      background-position: $bg-pos-edges;
      width: 167px
    }
  }
}
main{
  #decoration &{
    background-image: url($images_dir + 'backgrounds/tile-contents.png');
  }
  #design &{
    background: url($images_dir + 'backgrounds/tile-design-main.png') #FFF;
    padding-top: 63px;
  }
}
p{
  font-family: $font-second;
  font-size: 14px;
  .do-it &{
    display: table;
    margin: 27px auto 6px;
  }
  .top &{
    color: white;
    font-family: $font-second;
    font-size: 17px;
    margin-bottom: 32px;
  }
  #decoration .content >section:first-child >&{
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    margin-bottom: 27px;
    width: 672px;
  }
  #decoration .content >aside >&:first-child{
    margin-top: 50px;
    margin-bottom: 21px;
  }
  #design .top-container &{
    font-size: 18px;
    color: $color-dark-deep2;
    margin-left: 118px;
    padding-right: 370px;
    position: relative;
    top: 23px;
    width: 710px;
  }
  #design .content &{
    font: 18px/20px $font-second;
    margin-bottom: 32px;
  }
  #design .content .wide:nth-child(4) &{
    padding-right: 120px;
  }
  #design .content .wide:nth-child(5) &{
    padding-right: 20px;
  }
  #design .top-container h1 +&{
      top:27px;
  }
  #design #visual-bottom >div &{
    color: white;
    font-size: 17px;
    line-height: 20px;
    margin: 26px;
    margin-right: -60px;
  }
  #engineering-systems .content &{
    &.header-slim-big{
      line-height: 46px;
      margin-bottom: 41px;
    }
  }
  #facade .top &{
    color: #1b1b1b;
    margin: 0;
    &:last-child{
      margin-top: 30px;
    }
  }
  #facade-work &{
    color: white;
    font: 17px $font-second;
    padding: 7px;
    &:nth-child(2){
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &:nth-child(3){
      margin-top: 0;
    }
  }
  #our-works &{
    color: $color-dark-common;
    text-align: center;
  }
  #our-works &.header{
    font-family: $font-second;
    font-size: 25px;
  }
  #our-works p.header +&{
    color: $color-dark-common;
    font-size: 17px;
    margin-top: -21px;
  }
  #you-need & {
    &.header-slim-big{
      margin-bottom: 32px;
    }
  }
  .footer.why-moscow-home &{
    @include paragraph-dark;
    &.header-big{
      color:$color-dark-deep;
      display: table;
      line-height: 57px;
      margin: 66px auto 41px;
      text-align: center;
      width: 500px;
    }
  }
  .footer.why-moscow-home div.float-left:first-child &{
    margin-bottom: 6px;
  }
}
section{
  .menu-container &{
    display: none;
    &.visible{
      display: block;
    }
  }
  .do-it &{
    display: table;
    margin: auto;
  }
  #decoration .top &{
    left: 133px;
    position: absolute;
    top: 510px;
    width: 75%;
  }
  #design .content >&{
    overflow: hidden;
    &:nth-child(odd):not(:first-child){
      background-color: #f6f6f6;
    }
    $i:1;
    @each $height in 407,444,381,340,381{
      &:nth-child(#{$i}){
        height: #{$height}px;
      }
      $i:$i+1;
    }
  }
  #design &#visual-bottom{
    background: url($images_dir + 'design/visual-bottom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 454px;
  }
  #engineering-systems .content &{
    background-repeat: no-repeat;
    border-bottom: dotted 2px #e3e3e3;
    padding-left: 465px;
    padding-right: 60px;
    position: relative;
    $img-subdir: $images_dir + 'engineering/';
    &:nth-child(1){
      background-image: url($img-subdir + 'section1.jpg');
      background-position: 23px;
      height: 352px;
    }
    &:nth-child(2){
      background-image: url($img-subdir + 'section2-leaf.jpg');
      background-position: 25px 54px;
      height: 266px;
    }
    &:nth-child(3){
      background-image: url($img-subdir + 'section3.gif');
      background-position: 46px;
      height: 301px;
    }
  }
  #facade &#facade-work{
    background: url($images_dir + 'facade/facade-work.jpg') center;
    background-size: cover;
    height: 560px;
  }
}
span{
  button.print &{
    border-bottom:dotted 1px $color-carrot;
    display: table;
  }
  .footer.why-moscow-home ul &{
    background-color: $background-red-darkest;
    color: white;
    display: table;
    margin: auto;
    padding: 0 4px;
  }
  .arrows &{
    color: #FF6447;
    display: inline-block;
    padding: 0 4px;
  }
  #decoration .contents aside &{
    background-image: url($images_dir + 'decoration/pyctos.png');
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
  }
  #our-works ul.table a &{
    display: block;
    white-space: nowrap;
  }
  #style-classic &,
  #style-modern &{
    color: $color-carrot;
  }
  $i:1;
  @each $posY in 28,-197,-419,-641,-862,-1084,-1306,-1527 {
    #decoration .contents div:nth-child(#{$i}) &{
      background-position: 12px #{$posY}px;
    }
    $i:$i+1;
  }
}
ul{
  display: inline-block;
  margin: 0;
  padding: 0;
  &.social{
    background: url($images_dir + "social-left-vertical.png") no-repeat;
    @include menu-social-right(43px, 8px);
    margin-top: 9px;
    z-index: 1;
  }
  .footer.why-moscow-home >section >&{
    display: table;
    margin: auto;
  }
  #our-works &{
    &.table{
      height: 190px;
      margin: 42px auto;
      width: 940px;
    }
  }
  #you-need &{
    display: table;
    margin: -12px auto 9px auto;
  }
  #showcase &{
    // вернуть на место отступ сверху и сниху по умолчанию
    margin: 1em auto;
    padding: 0;
    position: absolute;
    &:nth-child(1){
      left: 4%;
      width: 260px;
    }
    &:nth-child(2){
      left: 35.2%;
      width: 350px;
    }
    &:nth-child(3){
      left: 77.7%;
      width: 200px;
    }
  }
}
