a{
  header menu li &{
    display: block;
    font-family: PlumbMedium;
    height: 100%;
    padding: 10px;
  }
}
header{
  display: table;
}
li{
  menu &{
    display: table-cell;
  }
}
menu{
  display: inline-block;
  margin: 0;
  padding: 0;
}