a{
  &.btn{
    background-color:  $background-carrot-dark;
    @include border-radius(16px);
    color: white;
    display: inline-block;
    font-family: PlumbMedium;
    font-size: 0.85rem;
    height: $btn-height;
    line-height: $btn-height;
    text-decoration: none;
    text-transform: uppercase;
  }
  ul.social &{
    display: block;
    height: 37px;
    width: 35px;
  }
  #slides aside &{
    &.btn{
      $w:128px;
      display: block;
      @include centered-vertical;
      margin-left: ($img-slide-single-width - $w)/2;
      text-align: center;
      width: $w;
    }
  }
  #you-need ul &{
    color: $background-carrot-dark;
    display: block;
    font-family: $font-second;
    font-size: 14px;
    margin-right: 15px;
    padding-left: 66px;
    white-space: normal;
  }
}
aside{
  #pointers-aside >&{
    $space:80px;
    background-color: black;
    background-position: center;
    background-position-y: 16px;
    background-repeat: no-repeat;
    @include border-radius(50%);
    height: $space;
    width: $space;
    @include opacity(0.5);
    $url:$images_dir + "pointer.png";
    $offset:18px;
    &:nth-child(1){
      background-image: url($url);
      float: left;
      margin-left: $offset;
    }
    &:nth-child(2){
      background-image: url($url);
      float: right;
      margin-right: $offset;
      @include transform(scaleX(-1));
    }
  }
  #slides &{
    background:url($images_dir + 'backgrounds/tile-microsquare.png');
    height: 135px;
    position: absolute;
    right: 3px;
    top:0;
    width: $img-slide-single-width;
  }
}
body{
  color: $color-dark-common;
}
button{
  &.attach-file, &.print{
    height: 31px;
    color: $color-carrot;
    font-size: 13px;
  }
  &.attach-file{
    background: url($images_dir + 'attach-file.png') #FFF no-repeat 10px 4px;
    border:none;
    border-radius: 10px;
    padding-left: 26px;
    text-transform: uppercase;
    width: 175px;
  }
  &.bg-recall{ // связан со следующим
    background-position: 14px 11px;
  }
  .do-it &{ // связан с предыдущим
    border: none;
    @include border-radius(20px);
    color: #FFF;
    float: right;
    font-family: PlumbMedium;
    font-size: 14px;
    height: 38px;
    margin-left: 16px;
    padding-left: 29px;
    text-transform: uppercase;
    width: 180px;
  }
  &.print{
    background: url($images_dir + 'print.png') #FFF no-repeat 13px 9px;
    border: $border-btn;
    border-radius: 5px;
    padding-left: 41px;
    width: 175px;
  }
}
div{
  .do-it &{
    &.phone-number{
      float: left;
      font-family: PlumbMedium;
      font-size: 36px;
      margin-right: 2px;
      margin-left: 32px;
    }
  }
  #showcase >&{
    background: url($images_dir + 'backgrounds/tile-100.png') #811d00;
    @include border-radius(8px);
    height: 100%;
    @include opacity(0.9);
    position: relative;
    @include centred-margins;
  }
  #slider &{
    &.img-box{
      background-image: url($images_dir + 'slider-main.jpg');
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: auto;
    }
  }
  #slider ul.social +&{
    background-color: white;
    @include border-top-right-radius(11px);
    @include border-bottom-right-radius(11px);
    @include menu-social-right();
    @include opacity(.65);
  }
  #you-need ul li >&{
    height: 100%;
  }
  #you-need ul li >div >&{
    @include centered-vertical;
  }
  .top >&{
    background: url($images_dir + 'top-engineering.gif') no-repeat 97.1% 89px;
    padding-left: 50px;
    padding-right: 485px;
    padding-top: 84px;
  }
}
footer{
  &.index{
    margin-top: 12px !important;
    overflow: hidden;
    position: absolute;
  }
}
h1{
  .top &{
    color:white;
    font-family: PlumbMedium;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 36px;
    text-transform: uppercase;
  }
}
header{
  display: table;
}
img{
  #slides a:not(:first-child) &{
    margin-left:$img-slide-offset;
  }
}
li{
  ul &{
    display: table-cell;
  }
  ul.social &{
    display: block;
    padding:4px;
  }
  #showcase &{
    color: white;
    display: list-item;
    font-family: PlumbMedium;
    font-size: 13px;
    line-height: 18px;
    list-style-image: url($images_dir + "checked.png");
    min-height: 29px;
    padding-left: 3px;
    text-transform: uppercase;
  }
  #you-need &{
    display: table-cell;
    height: 66px;
    max-width: 250px;
    text-align: left;
  }
  $bg-pos-edges: 0 9px;
  $pad-left: 13px;
  #you-need ul >&{
    &:nth-child(1){
      background: url($images_dir + 'need-design.png') no-repeat;
      background-position: $bg-pos-edges;
    }
    &:nth-child(2){
      background: url($images_dir + 'need-facade.png') no-repeat;
      padding-left:$pad-left;
    }
    &:nth-child(3){
      background: url($images_dir + 'need-building.png') no-repeat;
      padding-left:$pad-left;
    }
    &:nth-child(4){
      background: url($images_dir + 'need-engineering.png') no-repeat;
      background-position: $bg-pos-edges;
      width: 167px
    }
  }
}
ul{
  display: inline-block;
  margin: 0;
  padding: 0;
  &.social{
    background: url($images_dir + "social-left-vertical.png") no-repeat;
    @include menu-social-right(43px, 8px);
    margin-top: 9px;
    z-index: 1;
  }
  #you-need &{
    display: table;
    margin: -12px auto 9px auto;
  }
}
p{
  font-family: $font-second;
  font-size: 14px;
  .do-it &{
    display: table;
    margin: 27px auto 6px;
  }
  .top &{
    color: white;
    font-family: Arial, Helvetica;
    font-size: 17px;
    margin-bottom: 32px;
  }
  #you-need & {
    &.header-slim-big{
      margin-bottom: 32px;
    }
  }
}
section{
  .menu-container &{
    display: none;
    &.visible{
      display: block;
    }
  }
  .do-it &{
    display: table;
    margin: auto;
  }
}
span{
  button.print &{
    border-bottom:dotted 1px $color-carrot;
    display: table;
  }
}
ul{
  #showcase &{
    // вернуть на место отступ сверху и сниху по умолчанию
    margin: 1em auto;
    padding: 0;
    position: absolute;
    &:nth-child(1){
      left: 4%;
      width: 260px;
    }
    &:nth-child(2){
      left: 35.2%;
      width: 350px;
    }
    &:nth-child(3){
      left: 77.7%;
      width: 200px;
    }
  }
}
