$background-brown-dark:#832305;
$background-carrot:#aa4b29;
$background-carrot-dark:#bf451e;
$background-red-darkest:#7d2b12;
$background-sand:#feda62;
$background-smoke-white:#f8f8f8;
$background-orange:#ffa31f;
//-
$border-btn:solid 1px #c9c9c9;
$btn-height:38px;
//-
$color-carrot-light:#aa4b29;
$color-carrot:#a64726;
$color-dark-common:#5d534e; //5b544f
$color-dark-middle:#655e59;
$color-dark-deep:#404040;
$color-dark-deep2:#3f3f3f;
$do-it-offset:27px;
//-
$font-header-big-default:48px;
$font-second:Arial, Helvetica, sans-serif;

$headerHeight: 68px;
$level1Height: 423px;
$footerHeight: 47px;
$bottom-footer:14px;

$images_dir:'../images/';
$img-slide-single-width:153px;
$img-slide-offset:9px;
$max-width-container:960px;
$max-width-content:948px;
$menu-spot-border-radius:10px;
$menu-spot-height:38px;
$menu-spot-width:42px;
$mobile-right-offset:10px;
$nav-height:68px;
$edge-mobile:25px;
$edge-tablet:20px;
//-media queries:
// desktop
// small desktop
$resolution-small-desktop: 1024px;
$resolution-go-mobile966: 966px;
$resolution-go-mobile940: 940px;
$resolution-go-mobile860: 860px;
$resolution-tablet780:780px;
// tablet
$resolution-tablet768: 768px;
// phone
$resolution-tablet-medium680: 680px;
$resolution-tablet-small620: 620px;
$resolution-phone540: 540px;
$resolution-phone424: 424px;
$resolution-phone360: 360px;
$resolution-phone: 320px;

$boxMax6: 948px;
$boxBig5: 788px;
$boxMiddle4: 630px;
$boxSmall3: 470px;
$boxMini: 315px;
$boxSingle: 158px;