$background-brown-dark:#832305;
$background-carrot-dark:#bf451e;
$background-red-darkest:#7d2b12;
$background-sand:#feda62;
$background-orange:#ffa31f;
$border-btn:solid 1px #c9c9c9;
$btn-height:38px;
$color-dark-common:#5d534e; // 5b544f
$color-dark-deep:#404040;
$color-dark-deep2:#3f3f3f;
$color-carrot:#a64726;
$font-second:Arial, Helvetica, Sans Serif;
$images_dir:'../images_temp/';
$img-slide-single-width:153px;
$img-slide-offset:9px;
$max-width-container:960px;
$max-width-content:948px;
$nav-height:68px;