#boxplus{
	.boxplus-main {
		.boxplus-bottom{
			//bottom: 8px;
			//display: table;
			//height: 30px;
			//padding: 4px;
			//width: 155px;

			bottom: -23px;
			background-color: white;
			height: 23px;
			left: 0;
			opacity: 0.8;			
			position: absolute;			
			width: 100%;
		}
		.boxplus-caption{
			bottom: 9px;
			font: 14px Arial, Helvetica, sans-serif;
			left: 100px;
			position: absolute;
		}
		.boxplus-controls{
			bottom: 0;//-5px;
			left: 7px;//-2px;
			position: absolute;
		}
	}
    .boxplus-viewer:not(.boxplus-hidden){
	    position:inherit;
	    img{
	      position:inherit;
	    }
	    .boxplus-prev, .boxplus-next{
	      top:0;
	    }
	}
}
img {
  .gallery-small .sigplus-image &{
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}
.slideplus {
  .gallery-middle &{
    height: 280px !important;
  }
  #decoration .gallery-middle &{
    height: 143px !important;
  }
  @mixin pointer-opacity{
    @include opacity(0.65);
    &:hover{
      opacity: 1;
    }
  }
  .slideplus-prev.slideplus-horizontal.slideplus-large{
    background: url($images_dir + 'backgrounds/gallery-pointer-left.png');
    @include pointer-opacity;
  }
  .slideplus-next.slideplus-horizontal.slideplus-large{
    background: url($images_dir + 'backgrounds/gallery-pointer-right.png');
    @include pointer-opacity;
  }
}
.slideplus-navbar {
  .gallery-middle &{
    display: none !important;
  }
}
.sigplus-gallery ul>li>div>.captionplus>a>img{
  @include box-shadow(-4px 0px 0px 6px #FFF);
}
.sigplus-gallery{
  @include no-select;
  &.sigplus-center{
    display: table;
    margin: auto;
  }
  .gallery-small &{
    @include transform(scale(0.61) translateX(-306px) translateY(-30px));
  }
}
.slideplus-paging {
  .gallery-small &{
    display: none;
  }
}
span.slideplus-navbutton{
  .gallery-small &{
    background-color: #FFF !important;
    position: absolute;
    @include transform(translateY(-91px));
    &.slideplus-next{
      right: 7px;
    }
  }
}
#decoration {
  .slideplus-next.slideplus-horizontal.slideplus-large{
    left: 444px;
  }
}