#content-wrapper {
    /*overflow: auto;
	height: 100%;
    position: absolute;
    z-index: 3;
	bottom: 0;
    left: 0;
    right: 0;
    top: 0;*/
}
#images-container {
    margin: auto;
    overflow: hidden;
    position: relative;
}
#loaded-content {
    position: relative;
}
#pix {
    position: absolute;
}
#preview-container {
    display: table;
    margin: auto;
    position: relative;
}