ul{
  #our-works &{
    &.table{
      $wdth:188px;
      height: 190px;
      margin: 42px auto;
      max-width: 940px;
      width: $wdth;
      // количество блоков в ряду:
      @media (min-width:$resolution-phone424){
        width: $wdth * 2;
      }
      @media (min-width:$resolution-tablet-small620){
        width: $wdth * 3;
      }
      /*@media (min-width:$resolution-tablet768){
        width: $wdth * 4;
      }*/
      @media (min-width:$resolution-go-mobile966){
        width: $wdth * 5;
      }
      li{
        background: url($images_dir + 'design/40specs.jpg') no-repeat;
        display: inline-block;
        height: 190px;
        position: relative;
        width: 188px;
        $i:1;
        @each $posX in 27,-163,-349,-533,-723{
          &:nth-child(#{$i}){
            background-position: #{$posX}px 0;
          }
          $i:$i+1;
        }
        &:nth-child(5){
          margin-right: -20px;
        }
        @media (min-width:$resolution-phone424) and (max-width: $resolution-tablet-small620 - 1){ // 2+2+1
          &:nth-child(5){
            margin-left: $wdth / 2;
          }
        }
        @media (min-width:$resolution-tablet-small620) and (max-width: $resolution-go-mobile966 - 1){ // 3 + 2
          &:nth-child(4){
            margin-left: $wdth / 2;
          }
        }
      }
    }
  }
}
