$offset-common:16px;
@mixin set-bg($bg-color,$radius){
  .absolute.fit{
    background-color: $bg-color;
    @include border-radius($radius);
  }
}
#box-interior-header{
  @include set-bg(white,6px 6px 0 0);
}
#box-interior-content{
  padding: 20px; margin: auto -$offset-common;
  p{
    margin: 0;
    color: white;
    font-size: 17px;
    line-height: 20px;
  }
  @include set-bg(#a64726,0 0 6px 6px);
}
#visual-bottom{
  .absolute.fit{
    opacity: 0.8;
    z-index: -1;
  }
  .header-big{
    color:$color-carrot;
    font-weight: 100;
    line-height: 49px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    /*@media (min-width:$resolution-small-desktop + 1){
      @include transform(translateX(20px));
    }*/
    @media (max-width:$resolution-small-desktop){
      @media (min-width:$resolution-tablet-small620 + 1){
        line-height: 43px !important;
      }
      max-width: 500px;
    }
    @media (max-width:$resolution-tablet-small620){
      font-size: 24px !important;
      line-height: 22pt !important;
      max-width: 400px;
    }
  }
  >.relative{
    @media (max-width:$resolution-small-desktop){
      height: auto;
      padding: 20px;
    }
    >.relative{
      @include transform(translateY(83px));
      max-width: 845px;
      @media (max-width:$resolution-small-desktop){
        max-width: inherit;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        @include transform(translateY(0));
      }
    }
  }
}